html/wadls/3733-security-groups-xsd-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
                    Flattened from: file:/home/sslypushenko/projects/api-site/api-ref/src/wadls/netconn-api/src/xsd/secgr.xsd-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:rax="http://docs.rackspace.com/api"
            xmlns:db="http://docbook.org/ns/docbook"
            xmlns:secgr="http://docs.openstack.org/database/api/v1.0"
            xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.openstack.org/database/api/v1.0">
   <annotation xmlns="http://www.w3.org/2001/XMLSchema">
      <xsd:appinfo xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
         <xsdxt:title>Security Groups</xsdxt:title>
      </xsd:appinfo>
      <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
         <p> This is the main index XML Schema document for Security Groups API
        Schema Types Version 1.0. </p>
      </xsd:documentation>
  </annotation>
   <!--Complex Types-->
   <!--Simple Types-->
   <!-- Fault Elements -->
   <!-- Fault Types -->
   <element xmlns="http://www.w3.org/2001/XMLSchema" name="user" type="secgr:User">
      <annotation>
         <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p>A MySQL User.</p>
         </xsd:documentation>
      </annotation>
  </element>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="users"
            type="secgr:Users">
      <annotation>
         <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p>A MySQL User.</p>
         </xsd:documentation>
      </annotation>
  </element>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="instance"
            type="secgr:instance">
      <annotation>
         <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p>A Database Instance.</p>
         </xsd:documentation>
      </annotation>
  </element>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="instances"
            type="secgr:instances">
      <annotation>
         <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p>Database Instances.</p>
         </xsd:documentation>
      </annotation>
  </element>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="flavor"
            type="secgr:Flavor">
      <annotation>
         <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p>Settings such as memory used to create a database
          instance.</p>
         </xsd:documentation>
      </annotation>
  </element>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="flavors"
            type="secgr:Flavors">
      <annotation>
         <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p>A list of flavors.</p>
         </xsd:documentation>
      </annotation>
  </element>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="database"
            type="secgr:Database">
      <annotation>
         <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p>A Database.</p>
         </xsd:documentation>
      </annotation>
  </element>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="databases"
            type="secgr:Databases">
      <annotation>
         <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p>List of Databases.</p>
         </xsd:documentation>
      </annotation>
  </element>
   <element xmlns="http://www.w3.org/2001/XMLSchema" name="restart">
      <annotation>
         <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p>Restart the Database</p>
         </xsd:documentation>
      </annotation>
  </element>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="resize"
            type="secgr:Resize">
      <annotation>
         <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p>Resize an Instance</p>
         </xsd:documentation>
      </annotation>
  </element>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="badRequest"
            type="secgr:BadRequestFault"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="unauthorized"
            type="secgr:UnauthorizedFault"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="forbidden"
            type="secgr:ForbiddenFault"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="badMethod"
            type="secgr:BadMethodFault"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="overLimit"
            type="secgr:OverLimitFault"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="unprocessableEntity"
            type="secgr:UnprocessableEntityFault"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="instanceFault"
            type="secgr:InstanceFault"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="notImplemented"
            type="secgr:NotImplementedFault"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="serviceUnavailable"
            type="secgr:ServiceUnavailableFault"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="itemNotFound"
            type="secgr:ItemNotFoundFault"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="badMediaType"
            type="secgr:BadMediaTypeFault"/>
   <element xmlns="http://www.w3.org/2001/XMLSchema"
            name="conflict"
            type="secgr:ConflictFault"/>
   <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="StatusType">
      <annotation>
         <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p>The instance status.</p>
         </xsd:documentation>
      </annotation>
      <restriction base="xsd:string">
         <enumeration value="ACTIVE">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>Healthy status.</p>
               </xsd:documentation>
            </annotation>
         </enumeration>
         <enumeration value="SHUTDOWN">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>Down status.</p>
               </xsd:documentation>
            </annotation>
         </enumeration>
         <enumeration value="BUILD">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>unavailable status.</p>
               </xsd:documentation>
            </annotation>
         </enumeration>
      </restriction>
  </simpleType>
   <simpleType xmlns="http://www.w3.org/2001/XMLSchema" name="UserStatusType">
      <annotation>
         <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p>The mysql user status.</p>
         </xsd:documentation>
      </annotation>
      <restriction base="xsd:string">
         <enumeration value="ENABLED">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>Enabled status.</p>
               </xsd:documentation>
            </annotation>
         </enumeration>
      </restriction>
  </simpleType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="Users">
      <sequence>
         <element name="users"
                  type="secgr:User"
                  minOccurs="1"
                  maxOccurs="unbounded">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>A list of database user names.</p>
               </xsd:documentation>
            </annotation>
         </element>
      </sequence>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="User">
      <sequence>
         <element name="databases"
                  type="secgr:Database"
                  minOccurs="0"
                  maxOccurs="unbounded">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>A list of databases.</p>
               </xsd:documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="name" type="xsd:string" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>The name for the user.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="password" type="xsd:string" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>The password for the user.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="status" type="secgr:UserStatusType" use="optional">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>The status of the user.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="instances">
      <sequence>
         <element name="instance"
                  type="secgr:instance"
                  minOccurs="0"
                  maxOccurs="unbounded">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>A list of database instances.</p>
               </xsd:documentation>
            </annotation>
         </element>
      </sequence>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="instance">
      <sequence>
         <xsd:element name="databases"
                      type="secgr:Database"
                      minOccurs="0"
                      maxOccurs="unbounded">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>A list of optional databases.</p>
               </xsd:documentation>
            </annotation>
         </xsd:element>
         <xsd:element name="users"
                      type="secgr:User"
                      minOccurs="0"
                      maxOccurs="unbounded">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>A list of optional users.</p>
               </xsd:documentation>
            </annotation>
         </xsd:element>
         <xsd:element name="links" type="secgr:Links" minOccurs="0" maxOccurs="1">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>The links for the type of instance.</p>
               </xsd:documentation>
            </annotation>
         </xsd:element>
         <xsd:element name="volume" type="secgr:Volume" minOccurs="0" maxOccurs="1">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>The volume attached to the instance.</p>
               </xsd:documentation>
            </annotation>
         </xsd:element>
      </sequence>
      <attribute name="id" type="xsd:ID" use="optional">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>A unique database instance id.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="created" type="xsd:dateTime" use="optional">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>Date/Time the instance was created.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="updated" type="xsd:dateTime" use="optional">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>Date/Time the instance was last updated.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="name" type="xsd:string" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>The name for the instance.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="flavorRef" type="xsd:string" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>The flavor reference of the instance.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="status" type="secgr:StatusType" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>The status of the instance.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="hostname" type="xsd:string" use="optional">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>The hostname attached to the instance.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="rootEnabled" type="xsd:boolean" use="optional">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>Whether or not root is enabled for the instance.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="Link">
      <attribute name="rel" type="xsd:string" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>The type of link.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="href" type="xsd:string" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>The URL.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="type" type="xsd:string" use="optional">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>The type of link.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="Flavors">
      <sequence>
         <element name="Flavors"
                  type="secgr:Flavor"
                  minOccurs="0"
                  maxOccurs="unbounded">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>A list of flavors.</p>
               </xsd:documentation>
            </annotation>
         </element>
      </sequence>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="Flavor">
      <sequence>
         <element name="links"
                  type="secgr:Link"
                  minOccurs="0"
                  maxOccurs="unbounded">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>A list of links.</p>
               </xsd:documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="id" type="xsd:ID" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>A unique flavor id.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="name" type="xsd:string" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>The name for the instance.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="ram" type="xsd:integer" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>The RAM in megabytes.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
  </complexType>
   <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema" name="Links">
      <xsd:sequence>
         <xsd:element name="link"
                      type="secgr:Link"
                      minOccurs="0"
                      maxOccurs="unbounded">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>A list of links.</p>
               </xsd:documentation>
            </annotation>
         </xsd:element>
      </xsd:sequence>
  </xsd:complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="Databases">
      <sequence>
         <element name="database"
                  type="secgr:Database"
                  minOccurs="0"
                  maxOccurs="unbounded">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>A list of databases.</p>
               </xsd:documentation>
            </annotation>
         </element>
      </sequence>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="Database">
      <attribute name="character_set" type="xsd:string" use="optional">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>The Database character set.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="name" type="xsd:string" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>The name for the instance.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="collate" type="xsd:string" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>The Collation type of the database.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="RootEnabled">
      <attribute name="rootEnabled" type="xsd:boolean" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>Whether or not root is enabled for the given
            instance.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="Volume">
      <attribute name="size" type="xsd:integer" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>Size of the volume in GBs.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <attribute name="used" type="xsd:float" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>Used space on the attached volume in GBs.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="FlavorRef">
      <attribute name="flavorRef" type="xsd:ID" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>A unique flavor id.</p>
            </xsd:documentation>
         </annotation>
      </attribute>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="Resize">
      <sequence>
         <xsd:element name="volume" type="secgr:Volume" minOccurs="0" maxOccurs="1">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>The volume attached to the instance.</p>
               </xsd:documentation>
            </annotation>
         </xsd:element>
         <xsd:element name="flavorRef"
                      type="secgr:FlavorRef"
                      minOccurs="0"
                      maxOccurs="1">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>New flavorRef to size the instance.</p>
               </xsd:documentation>
            </annotation>
         </xsd:element>
      </sequence>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="BaseFault">
      <sequence>
         <element name="message" type="xsd:string">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p> A human readable message that is appropriate for
              display to the end user. </p>
               </xsd:documentation>
            </annotation>
         </element>
         <element name="details" type="xsd:string" minOccurs="0">
            <annotation>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p> The optional &lt;details&gt; element may contain
              useful information for tracking down errors (e.g a stack
              trace). This information may or may not be appropriate
              for display to an end user. </p>
               </xsd:documentation>
            </annotation>
         </element>
         <any namespace="##other"
              processContents="lax"
              minOccurs="0"
              maxOccurs="unbounded"/>
      </sequence>
      <attribute name="code" type="xsd:int" use="required">
         <annotation>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p> The HTTP status code associated with the current fault.
          </p>
            </xsd:documentation>
         </annotation>
      </attribute>
      <anyAttribute namespace="##other" processContents="lax"/>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="BadRequestFault">
      <complexContent>
         <extension base="secgr:BaseFault"> </extension>
      </complexContent>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="UnauthorizedFault">
      <complexContent>
         <extension base="secgr:BaseFault"> </extension>
      </complexContent>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="ForbiddenFault">
      <complexContent>
         <extension base="secgr:BaseFault"> </extension>
      </complexContent>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="BadMethodFault">
      <complexContent>
         <extension base="secgr:BaseFault"> </extension>
      </complexContent>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="OverLimitFault">
      <complexContent>
         <extension base="secgr:BaseFault">
            <attribute name="retryAt" type="xsd:dateTime" use="optional">
               <annotation>
                  <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                     <p> An optional dateTime denoting when an operation
                should be retried. </p>
                  </xsd:documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="UnprocessableEntityFault">
      <complexContent>
         <extension base="secgr:BaseFault"> </extension>
      </complexContent>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="InstanceFault">
      <complexContent>
         <extension base="secgr:BaseFault"> </extension>
      </complexContent>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="NotImplementedFault">
      <complexContent>
         <extension base="secgr:BaseFault"> </extension>
      </complexContent>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="ServiceUnavailableFault">
      <complexContent>
         <extension base="secgr:BaseFault"> </extension>
      </complexContent>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="ItemNotFoundFault">
      <complexContent>
         <extension base="secgr:BaseFault"> </extension>
      </complexContent>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="BadMediaTypeFault">
      <complexContent>
         <extension base="secgr:BaseFault"> </extension>
      </complexContent>
  </complexType>
   <complexType xmlns="http://www.w3.org/2001/XMLSchema" name="ConflictFault">
      <complexContent>
         <extension base="secgr:BaseFault"> </extension>
      </complexContent>
  </complexType>
</xsd:schema>
