html/wadls/cluster-templates.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent node-group-template.wadl        -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <resources xmlns:capi="http://docs.openstack.org/common/api/v1.0"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="cluster-templates-v1.1">
        <resource id="cluster-templates" path="/v1.1/{tenant_id}/cluster-templates">
         <param name="tenant_id" style="template" type="capi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The unique identifier of the tenant or account.</para>
                    </wadl:doc>
                </param>
         <method name="GET" rax:id="cluster-templates-list">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List available cluster templates">
               <para role="shortdesc">Lists available cluster
                templates.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "cluster_templates": [
        {
            "description": "",
            "updated_at": null,
            "plugin_name": "vanilla",
            "is_default": null,
            "anti_affinity": [],
            "node_groups": [
                {
                    "volume_local_to_instance": null,
                    "count": 1,
                    "volumes_availability_zone": null,
                    "name": "master-van",
                    "availability_zone": null,
                    "volume_mount_prefix": "/volumes/disk",
                    "created_at": "2015-03-16 09:17:36",
                    "updated_at": null,
                    "volume_type": null,
                    "floating_ip_pool": "a1fd789f-92ba-455f-865e-826bb84069ba",
                    "image_id": null,
                    "volumes_size": 0,
                    "node_configs": {
                        "HDFS": {},
                        "Hadoop": {},
                        "YARN": {},
                        "MapReduce": {},
                        "JobFlow": {},
                        "Hive": {}
                    },
                    "node_group_template_id": "3fea4920-0c67-467f-b9d2-e34c3ac0e19c",
                    "is_proxy_gateway": null,
                    "volumes_per_node": 0,
                    "node_processes": [
                        "namenode",
                        "secondarynamenode",
                        "resourcemanager",
                        "historyserver",
                        "oozie",
                        "hiveserver"
                    ],
                    "id": "84a7b6ee-1b06-4fc9-a6e6-0cb8375d1f80",
                    "auto_security_group": null,
                    "security_groups": null,
                    "flavor_id": "2"
                },
                {
                    "volume_local_to_instance": null,
                    "count": 2,
                    "volumes_availability_zone": null,
                    "name": "worker-van",
                    "availability_zone": null,
                    "volume_mount_prefix": "/volumes/disk",
                    "created_at": "2015-03-16 09:17:36",
                    "updated_at": null,
                    "volume_type": null,
                    "floating_ip_pool": "a1fd789f-92ba-455f-865e-826bb84069ba",
                    "image_id": null,
                    "volumes_size": 0,
                    "node_configs": {
                        "HDFS": {},
                        "Hadoop": {},
                        "YARN": {},
                        "MapReduce": {},
                        "JobFlow": {},
                        "Hive": {}
                    },
                    "node_group_template_id": "7357df25-7db1-4fad-b3ab-8bcc8589ad75",
                    "is_proxy_gateway": null,
                    "volumes_per_node": 0,
                    "node_processes": [
                        "datanode",
                        "nodemanager"
                    ],
                    "id": "ab90252b-4464-48c8-b7e4-05cba80abeeb",
                    "auto_security_group": null,
                    "security_groups": null,
                    "flavor_id": "2"
                }
            ],
            "hadoop_version": "2.6.0",
            "id": "4e810110-d326-49e0-bc7e-e1342f83d425",
            "neutron_management_network": null,
            "name": "vanilla2",
            "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
            "created_at": "2015-03-16 09:17:36",
            "default_image_id": null,
            "cluster_configs": {
                "HDFS": {
                    "dfs.replication": 2
                },
                "general": {},
                "MapReduce": {},
                "Hadoop": {}
            }
        },
        {
            "description": "",
            "updated_at": null,
            "plugin_name": "spark",
            "is_default": null,
            "anti_affinity": [],
            "node_groups": [
                {
                    "volume_local_to_instance": null,
                    "count": 2,
                    "volumes_availability_zone": null,
                    "name": "worker-spark",
                    "availability_zone": null,
                    "volume_mount_prefix": "/volumes/disk",
                    "created_at": "2015-03-13 09:03:49",
                    "updated_at": null,
                    "volume_type": null,
                    "floating_ip_pool": "a1fd789f-92ba-455f-865e-826bb84069ba",
                    "image_id": null,
                    "volumes_size": 0,
                    "node_configs": {
                        "HDFS": {}
                    },
                    "node_group_template_id": "c99728bd-69c2-4a13-8159-e7fabad13688",
                    "is_proxy_gateway": null,
                    "volumes_per_node": 0,
                    "node_processes": [
                        "datanode",
                        "slave"
                    ],
                    "id": "30114093-bb64-4cc4-961a-29bc38074a41",
                    "auto_security_group": null,
                    "security_groups": null,
                    "flavor_id": "2"
                },
                {
                    "volume_local_to_instance": null,
                    "count": 1,
                    "volumes_availability_zone": null,
                    "name": "master-spark",
                    "availability_zone": null,
                    "volume_mount_prefix": "/volumes/disk",
                    "created_at": "2015-03-13 09:03:49",
                    "updated_at": null,
                    "volume_type": null,
                    "floating_ip_pool": "a1fd789f-92ba-455f-865e-826bb84069ba",
                    "image_id": null,
                    "volumes_size": 0,
                    "node_configs": {
                        "HDFS": {}
                    },
                    "node_group_template_id": "e21f5e4e-43a3-4a0d-ba53-4621dfd23cdf",
                    "is_proxy_gateway": null,
                    "volumes_per_node": 0,
                    "node_processes": [
                        "namenode",
                        "master"
                    ],
                    "id": "8ffe7cce-ca2a-419e-8a89-99ab32e29914",
                    "auto_security_group": null,
                    "security_groups": null,
                    "flavor_id": "2"
                }
            ],
            "hadoop_version": "1.0.0",
            "id": "59e58554-79dc-4852-bc0c-051904f94187",
            "neutron_management_network": null,
            "name": "spark1",
            "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
            "created_at": "2015-03-13 09:03:49",
            "default_image_id": null,
            "cluster_configs": {
                "HDFS": {
                    "dfs.replication": 1
                },
                "Spark": {},
                "general": {}
            }
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="POST" rax:id="cluster-templates-create">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create cluster templates">
               <para role="shortdesc">Creates a cluster template.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Create cluster template: JSON request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "plugin_name": "vanilla",
    "hadoop_version": "2.6.0",
    "node_groups": [
        {
            "name": "worker",
            "count": 3,
            "node_group_template_id": "3b975888-42d4-43d3-be70-8e4401e3cb65"
        },
        {
            "name": "master",
            "count": 1,
            "node_group_template_id": "208f2d53-69c3-48c3-9830-986db4c29c95"
        }
    ],
    "name": "cluster-template",
    "neutron_management_network": "0b001fb7-b172-43f0-8c99-444672fd0513",
    "cluster_configs": {}
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Create cluster template: JSON response">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "cluster_template": {
        "description": "",
        "updated_at": null,
        "plugin_name": "vanilla",
        "is_default": null,
        "anti_affinity": [],
        "node_groups": [
            {
                "volume_local_to_instance": null,
                "count": 1,
                "volumes_availability_zone": null,
                "name": "master",
                "availability_zone": null,
                "volume_mount_prefix": "/volumes/disk",
                "created_at": "2015-03-16 09:17:36",
                "updated_at": null,
                "volume_type": null,
                "floating_ip_pool": "a1fd789f-92ba-455f-865e-826bb84069ba",
                "image_id": null,
                "volumes_size": 0,
                "node_configs": {
                    "HDFS": {},
                    "Hadoop": {},
                    "YARN": {},
                    "MapReduce": {},
                    "JobFlow": {},
                    "Hive": {}
                },
                "node_group_template_id": "3b975888-42d4-43d3-be70-8e4401e3cb65",
                "is_proxy_gateway": null,
                "volumes_per_node": 0,
                "node_processes": [
                    "namenode",
                    "secondarynamenode",
                    "resourcemanager",
                    "historyserver",
                    "oozie",
                    "hiveserver"
                ],
                "id": "84a7b6ee-1b06-4fc9-a6e6-0cb8375d1f80",
                "auto_security_group": null,
                "security_groups": null,
                "flavor_id": "2"
            },
            {
                "volume_local_to_instance": null,
                "count": 2,
                "volumes_availability_zone": null,
                "name": "worker",
                "availability_zone": null,
                "volume_mount_prefix": "/volumes/disk",
                "created_at": "2015-03-16 09:17:36",
                "updated_at": null,
                "volume_type": null,
                "floating_ip_pool": "a1fd789f-92ba-455f-865e-826bb84069ba",
                "image_id": null,
                "volumes_size": 0,
                "node_configs": {
                    "HDFS": {},
                    "Hadoop": {},
                    "YARN": {},
                    "MapReduce": {},
                    "JobFlow": {},
                    "Hive": {}
                },
                "node_group_template_id": "208f2d53-69c3-48c3-9830-986db4c29c95",
                "is_proxy_gateway": null,
                "volumes_per_node": 0,
                "node_processes": [
                    "datanode",
                    "nodemanager"
                ],
                "id": "ab90252b-4464-48c8-b7e4-05cba80abeeb",
                "auto_security_group": null,
                "security_groups": null,
                "flavor_id": "2"
            }
        ],
        "hadoop_version": "2.6.0",
        "id": "4e810110-d326-49e0-bc7e-e1342f83d425",
        "neutron_management_network": "0b001fb7-b172-43f0-8c99-444672fd0513",
        "name": "cluster-template",
        "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
        "created_at": "2015-03-16 09:17:36",
        "default_image_id": null,
        "cluster_configs": {
            "HDFS": {
                "dfs.replication": 2
            },
            "general": {},
            "MapReduce": {},
            "Hadoop": {}
        }
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                    
                    
                    <resource id="cluster_template_id"
                path="/v1.1/{tenant_id}/cluster-templates/{cluster_template_id}">
         <param name="tenant_id" style="template" type="capi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The unique identifier of the tenant or account.</para>
                    </wadl:doc>
                </param>
         <param name="cluster_template_id" style="template" type="capi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The unique identifier of the cluster template.</para>
                            </wadl:doc>
                        </param>
         <method name="GET" rax:id="cluster-templates-show">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show cluster template">
               <para role="shortdesc">Shows the cluster template.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "cluster_templates": [
        {
            "description": "",
            "updated_at": null,
            "plugin_name": "vanilla",
            "is_default": null,
            "anti_affinity": [],
            "node_groups": [
                {
                    "volume_local_to_instance": null,
                    "count": 1,
                    "volumes_availability_zone": null,
                    "name": "master-van",
                    "availability_zone": null,
                    "volume_mount_prefix": "/volumes/disk",
                    "created_at": "2015-03-16 09:17:36",
                    "updated_at": null,
                    "volume_type": null,
                    "floating_ip_pool": "a1fd789f-92ba-455f-865e-826bb84069ba",
                    "image_id": null,
                    "volumes_size": 0,
                    "node_configs": {
                        "HDFS": {},
                        "Hadoop": {},
                        "YARN": {},
                        "MapReduce": {},
                        "JobFlow": {},
                        "Hive": {}
                    },
                    "node_group_template_id": "3fea4920-0c67-467f-b9d2-e34c3ac0e19c",
                    "is_proxy_gateway": null,
                    "volumes_per_node": 0,
                    "node_processes": [
                        "namenode",
                        "secondarynamenode",
                        "resourcemanager",
                        "historyserver",
                        "oozie",
                        "hiveserver"
                    ],
                    "id": "84a7b6ee-1b06-4fc9-a6e6-0cb8375d1f80",
                    "auto_security_group": null,
                    "security_groups": null,
                    "flavor_id": "2"
                },
                {
                    "volume_local_to_instance": null,
                    "count": 2,
                    "volumes_availability_zone": null,
                    "name": "worker-van",
                    "availability_zone": null,
                    "volume_mount_prefix": "/volumes/disk",
                    "created_at": "2015-03-16 09:17:36",
                    "updated_at": null,
                    "volume_type": null,
                    "floating_ip_pool": "a1fd789f-92ba-455f-865e-826bb84069ba",
                    "image_id": null,
                    "volumes_size": 0,
                    "node_configs": {
                        "HDFS": {},
                        "Hadoop": {},
                        "YARN": {},
                        "MapReduce": {},
                        "JobFlow": {},
                        "Hive": {}
                    },
                    "node_group_template_id": "7357df25-7db1-4fad-b3ab-8bcc8589ad75",
                    "is_proxy_gateway": null,
                    "volumes_per_node": 0,
                    "node_processes": [
                        "datanode",
                        "nodemanager"
                    ],
                    "id": "ab90252b-4464-48c8-b7e4-05cba80abeeb",
                    "auto_security_group": null,
                    "security_groups": null,
                    "flavor_id": "2"
                }
            ],
            "hadoop_version": "2.6.0",
            "id": "4e810110-d326-49e0-bc7e-e1342f83d425",
            "neutron_management_network": null,
            "name": "vanilla2",
            "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
            "created_at": "2015-03-16 09:17:36",
            "default_image_id": null,
            "cluster_configs": {
                "HDFS": {
                    "dfs.replication": 2
                },
                "general": {},
                "MapReduce": {},
                "Hadoop": {}
            }
        },
        {
            "description": "",
            "updated_at": null,
            "plugin_name": "spark",
            "is_default": null,
            "anti_affinity": [],
            "node_groups": [
                {
                    "volume_local_to_instance": null,
                    "count": 2,
                    "volumes_availability_zone": null,
                    "name": "worker-spark",
                    "availability_zone": null,
                    "volume_mount_prefix": "/volumes/disk",
                    "created_at": "2015-03-13 09:03:49",
                    "updated_at": null,
                    "volume_type": null,
                    "floating_ip_pool": "a1fd789f-92ba-455f-865e-826bb84069ba",
                    "image_id": null,
                    "volumes_size": 0,
                    "node_configs": {
                        "HDFS": {}
                    },
                    "node_group_template_id": "c99728bd-69c2-4a13-8159-e7fabad13688",
                    "is_proxy_gateway": null,
                    "volumes_per_node": 0,
                    "node_processes": [
                        "datanode",
                        "slave"
                    ],
                    "id": "30114093-bb64-4cc4-961a-29bc38074a41",
                    "auto_security_group": null,
                    "security_groups": null,
                    "flavor_id": "2"
                },
                {
                    "volume_local_to_instance": null,
                    "count": 1,
                    "volumes_availability_zone": null,
                    "name": "master-spark",
                    "availability_zone": null,
                    "volume_mount_prefix": "/volumes/disk",
                    "created_at": "2015-03-13 09:03:49",
                    "updated_at": null,
                    "volume_type": null,
                    "floating_ip_pool": "a1fd789f-92ba-455f-865e-826bb84069ba",
                    "image_id": null,
                    "volumes_size": 0,
                    "node_configs": {
                        "HDFS": {}
                    },
                    "node_group_template_id": "e21f5e4e-43a3-4a0d-ba53-4621dfd23cdf",
                    "is_proxy_gateway": null,
                    "volumes_per_node": 0,
                    "node_processes": [
                        "namenode",
                        "master"
                    ],
                    "id": "8ffe7cce-ca2a-419e-8a89-99ab32e29914",
                    "auto_security_group": null,
                    "security_groups": null,
                    "flavor_id": "2"
                }
            ],
            "hadoop_version": "1.0.0",
            "id": "59e58554-79dc-4852-bc0c-051904f94187",
            "neutron_management_network": null,
            "name": "spark1",
            "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
            "created_at": "2015-03-13 09:03:49",
            "default_image_id": null,
            "cluster_configs": {
                "HDFS": {
                    "dfs.replication": 1
                },
                "Spark": {},
                "general": {}
            }
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="PUT" rax:id="cluster-templates-update">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update cluster templates">
               <para role="shortdesc">Updates the cluster template.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Update the cluster template: JSON request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "description": "",
    "updated_at": null,
    "plugin_name": "vanilla",
    "is_default": null,
    "anti_affinity": [],
    "node_groups": [
        {
            "volume_local_to_instance": null,
            "count": 1,
            "volumes_availability_zone": null,
            "name": "master-van",
            "availability_zone": null,
            "volume_mount_prefix": "/volumes/disk",
            "created_at": "2015-03-16 09:17:36",
            "updated_at": null,
            "volume_type": null,
            "floating_ip_pool": "a1fd789f-92ba-455f-865e-826bb84069ba",
            "image_id": null,
            "volumes_size": 0,
            "node_configs": {
                "HDFS": {},
                "Hadoop": {},
                "YARN": {},
                "MapReduce": {},
                "JobFlow": {},
                "Hive": {}
            },
            "node_group_template_id": "3fea4920-0c67-467f-b9d2-e34c3ac0e19c",
            "is_proxy_gateway": null,
            "volumes_per_node": 0,
            "node_processes": [
                "namenode",
                "secondarynamenode",
                "resourcemanager",
                "historyserver",
                "oozie",
                "hiveserver"
            ],
            "id": "84a7b6ee-1b06-4fc9-a6e6-0cb8375d1f80",
            "auto_security_group": null,
            "security_groups": null,
            "flavor_id": "2"
        },
        {
            "volume_local_to_instance": null,
            "count": 2,
            "volumes_availability_zone": null,
            "name": "worker-van",
            "availability_zone": null,
            "volume_mount_prefix": "/volumes/disk",
            "created_at": "2015-03-16 09:17:36",
            "updated_at": null,
            "volume_type": null,
            "floating_ip_pool": "a1fd789f-92ba-455f-865e-826bb84069ba",
            "image_id": null,
            "volumes_size": 0,
            "node_configs": {
                "HDFS": {},
                "Hadoop": {},
                "YARN": {},
                "MapReduce": {},
                "JobFlow": {},
                "Hive": {}
            },
            "node_group_template_id": "7357df25-7db1-4fad-b3ab-8bcc8589ad75",
            "is_proxy_gateway": null,
            "volumes_per_node": 0,
            "node_processes": [
                "datanode",
                "nodemanager"
            ],
            "id": "ab90252b-4464-48c8-b7e4-05cba80abeeb",
            "auto_security_group": null,
            "security_groups": null,
            "flavor_id": "2"
        }
    ],
    "hadoop_version": "2.6.0",
    "neutron_management_network": null,
    "name": "vanilla-updated",
    "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
    "default_image_id": null,
    "cluster_configs": {
        "HDFS": {
            "dfs.replication": 2
        },
        "general": {},
        "MapReduce": {},
        "Hadoop": {}
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "cluster_template": {
        "description": "",
        "updated_at": "2015-03-16 09:19:36",
        "plugin_name": "vanilla",
        "is_default": null,
        "anti_affinity": [],
        "node_groups": [
            {
                "volume_local_to_instance": null,
                "count": 1,
                "volumes_availability_zone": null,
                "name": "master",
                "availability_zone": null,
                "volume_mount_prefix": "/volumes/disk",
                "created_at": "2015-03-16 09:17:36",
                "updated_at": null,
                "volume_type": null,
                "floating_ip_pool": "a1fd789f-92ba-455f-865e-826bb84069ba",
                "image_id": null,
                "volumes_size": 0,
                "node_configs": {
                    "HDFS": {},
                    "Hadoop": {},
                    "YARN": {},
                    "MapReduce": {},
                    "JobFlow": {},
                    "Hive": {}
                },
                "node_group_template_id": "3b975888-42d4-43d3-be70-8e4401e3cb65",
                "is_proxy_gateway": null,
                "volumes_per_node": 0,
                "node_processes": [
                    "namenode",
                    "secondarynamenode",
                    "resourcemanager",
                    "historyserver",
                    "oozie",
                    "hiveserver"
                ],
                "id": "84a7b6ee-1b06-4fc9-a6e6-0cb8375d1f80",
                "auto_security_group": null,
                "security_groups": null,
                "flavor_id": "2"
            },
            {
                "volume_local_to_instance": null,
                "count": 2,
                "volumes_availability_zone": null,
                "name": "worker",
                "availability_zone": null,
                "volume_mount_prefix": "/volumes/disk",
                "created_at": "2015-03-16 09:17:36",
                "updated_at": null,
                "volume_type": null,
                "floating_ip_pool": "a1fd789f-92ba-455f-865e-826bb84069ba",
                "image_id": null,
                "volumes_size": 0,
                "node_configs": {
                    "HDFS": {},
                    "Hadoop": {},
                    "YARN": {},
                    "MapReduce": {},
                    "JobFlow": {},
                    "Hive": {}
                },
                "node_group_template_id": "208f2d53-69c3-48c3-9830-986db4c29c95",
                "is_proxy_gateway": null,
                "volumes_per_node": 0,
                "node_processes": [
                    "datanode",
                    "nodemanager"
                ],
                "id": "ab90252b-4464-48c8-b7e4-05cba80abeeb",
                "auto_security_group": null,
                "security_groups": null,
                "flavor_id": "2"
            }
        ],
        "hadoop_version": "2.6.0",
        "id": "4e810110-d326-49e0-bc7e-e1342f83d425",
        "neutron_management_network": "0b001fb7-b172-43f0-8c99-444672fd0513",
        "name": "vanilla-updated",
        "tenant_id": "9cd1314a0a31493282b6712b76a8fcda",
        "created_at": "2015-03-16 09:17:36",
        "default_image_id": null,
        "cluster_configs": {
            "HDFS": {
                "dfs.replication": 2
            },
            "general": {},
            "MapReduce": {},
            "Hadoop": {}
        }
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="DELETE" rax:id="cluster-templates-delete">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete cluster template">
               <para role="shortdesc">Deletes the cluster template.</para>
            </wadl:doc>
            <response status="204"/>
         </method>
      </resource>
                        
                        
                        
                        
                    
                
    </resources>
    <!-- *******************************************************-->
    <!--             Cluster templates actions           -->
    <!--******************************************************-->
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="cluster-templates-list">
        
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="cluster-templates-create">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="cluster-templates-show">
        
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="cluster-templates-update">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="cluster-templates-delete">
        
        <response status="204"/>
    </method>
</wadl:application>
