html/wadls/node-group-template.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent node-group-template.wadl        -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:db="http://docbook.org/ns/docbook"
              xmlns:common="http://docs.openstack.org/common/api/v1.0"
              xmlns:capi="http://docs.openstack.org/common/api/v1.0"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="node-group-templates-v1.1">
        <resource id="node-group-templates" path="/v1.1/{tenant_id}/node-group-templates">
         <param name="tenant_id" style="template" type="capi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The unique identifier of the tenant or account.</para>
                    </wadl:doc>
                </param>
         <method name="GET" rax:id="node-group-templates-list">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List node group templates">
               <para role="shortdesc">Lists available node group
                templates.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "node_group_templates": [
        {
            "auto_security_group": false,
            "availability_zone": null,
            "created_at": "2015-03-27 09:46:37",
            "description": null,
            "flavor_id": "42",
            "floating_ip_pool": "82757050-c76d-423e-9634-757b4fbef83d",
            "hadoop_version": "2.6.0",
            "id": "9b0327b7-1acd-4db9-b995-1f50822c49dc",
            "image_id": null,
            "is_default": false,
            "is_proxy_gateway": false,
            "name": "aaa",
            "node_configs": {},
            "node_processes": [
                "namenode",
                "resourcemanager",
                "oozie",
                "historyserver"
            ],
            "plugin_name": "vanilla",
            "security_groups": null,
            "tenant_id": "4ad2cbb9cb564018b2c1bf69865218d7",
            "updated_at": null,
            "volume_local_to_instance": false,
            "volume_mount_prefix": "/volumes/disk",
            "volume_type": null,
            "volumes_availability_zone": null,
            "volumes_per_node": 0,
            "volumes_size": 0
        },
        {
            "auto_security_group": true,
            "availability_zone": "nova",
            "created_at": "2015-03-27 09:04:43",
            "description": "",
            "flavor_id": "42",
            "floating_ip_pool": null,
            "hadoop_version": "2.6.0",
            "id": "e50ecf50-b7d1-47cc-b993-a0cdd018afa5",
            "image_id": null,
            "is_default": false,
            "is_proxy_gateway": false,
            "name": "www",
            "node_configs": {
                "HDFS": {},
                "Hadoop": {},
                "Hive": {},
                "JobFlow": {},
                "MapReduce": {},
                "YARN": {}
            },
            "node_processes": [
                "namenode",
                "datanode",
                "resourcemanager",
                "nodemanager"
            ],
            "plugin_name": "vanilla",
            "security_groups": [],
            "tenant_id": "4ad2cbb9cb564018b2c1bf69865218d7",
            "updated_at": null,
            "volume_local_to_instance": false,
            "volume_mount_prefix": "/volumes/disk",
            "volume_type": null,
            "volumes_availability_zone": null,
            "volumes_per_node": 0,
            "volumes_size": 0
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="POST" rax:id="node-group-templates-create">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create node group template">
               <para role="shortdesc">Creates a node group template.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "plugin_name": "vanilla",
    "hadoop_version": "2.6.0",
    "node_processes": [
        "namenode",
        "resourcemanager",
        "oozie",
        "historyserver"
    ],
    "name": "master",
    "floating_ip_pool": "82757050-c76d-423e-9634-757b4fbef83d",
    "flavor_id": "42"
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "node_group_template": {
        "auto_security_group": false,
        "availability_zone": null,
        "created_at": "2015-03-27 09:46:37.940396",
        "flavor_id": "42",
        "floating_ip_pool": "82757050-c76d-423e-9634-757b4fbef83d",
        "hadoop_version": "2.6.0",
        "id": "9b0327b7-1acd-4db9-b995-1f50822c49dc",
        "is_default": false,
        "is_proxy_gateway": false,
        "name": "master",
        "node_configs": {},
        "node_processes": [
            "namenode",
            "resourcemanager",
            "oozie",
            "historyserver"
        ],
        "plugin_name": "vanilla",
        "security_groups": null,
        "tenant_id": "4ad2cbb9cb564018b2c1bf69865218d7",
        "volume_local_to_instance": false,
        "volume_mount_prefix": "/volumes/disk",
        "volume_type": null,
        "volumes_availability_zone": null,
        "volumes_per_node": 0,
        "volumes_size": 0
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                    
                    
                    <resource id="node_group_template_id"
                path="/v1.1/{tenant_id}/node-group-templates/{node_group_template_id}">
         <param name="tenant_id" style="template" type="capi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The unique identifier of the tenant or account.</para>
                    </wadl:doc>
                </param>
         <param name="node_group_template_id" style="template" type="capi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>The unique identifier of the node group template.</para>
                            </wadl:doc>
                        </param>
         <method name="GET" rax:id="node-group-templates-get">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show node group template details">
               <para role="shortdesc">Shows a specified node group template, by ID.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "node_group_template": {
        "auto_security_group": true,
        "availability_zone": "nova",
        "created_at": "2015-03-27 09:04:43",
        "description": "",
        "flavor_id": "42",
        "floating_ip_pool": null,
        "hadoop_version": "2.6.0",
        "id": "e50ecf50-b7d1-47cc-b993-a0cdd018afa5",
        "image_id": null,
        "is_default": false,
        "is_proxy_gateway": false,
        "name": "www",
        "node_configs": {
            "HDFS": {},
            "Hadoop": {},
            "Hive": {},
            "JobFlow": {},
            "MapReduce": {},
            "YARN": {}
        },
        "node_processes": [
            "namenode",
            "datanode",
            "resourcemanager",
            "nodemanager"
        ],
        "plugin_name": "vanilla",
        "security_groups": [],
        "tenant_id": "4ad2cbb9cb564018b2c1bf69865218d7",
        "updated_at": null,
        "volume_local_to_instance": false,
        "volume_mount_prefix": "/volumes/disk",
        "volume_type": null,
        "volumes_availability_zone": null,
        "volumes_per_node": 0,
        "volumes_size": 0
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="DELETE" rax:id="node-group-templates-delete">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete node group template">
               <para role="shortdesc">Deletes a specified node group template.</para>
            </wadl:doc>
            <response status="204"/>
         </method>
         <method name="PUT" rax:id="node-group-templates-update">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update node group template">
               <para role="shortdesc">Updates a specified node group template.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "plugin_name": "vanilla",
    "hadoop_version": "2.6.0",
    "node_processes": [
        "namenode",
        "resourcemanager",
        "oozie",
        "historyserver"
    ],
    "name": "updaaa",
    "floating_ip_pool": "82757050-c76d-423e-9634-757b4fbef83d",
    "flavor_id": "42"
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "auto_security_group": true,
    "availability_zone": "nova",
    "created_at": "2015-03-27 09:04:43",
    "description": "",
    "flavor_id": "42",
    "floating_ip_pool": "82757050-c76d-423e-9634-757b4fbef83d",
    "hadoop_version": "2.6.0",
    "id": "e50ecf50-b7d1-47cc-b993-a0cdd018afa5",
    "image_id": null,
    "is_default": false,
    "is_proxy_gateway": false,
    "name": "updaaa",
    "node_configs": {
        "HDFS": {},
        "Hadoop": {},
        "Hive": {},
        "JobFlow": {},
        "MapReduce": {},
        "YARN": {}
    },
    "node_processes": [
        "namenode",
        "resourcemanager",
        "oozie",
        "historyserver"
    ],
    "plugin_name": "vanilla",
    "security_groups": [],
    "tenant_id": "4ad2cbb9cb564018b2c1bf69865218d7",
    "updated_at": "2015-03-27 09:56:23.304374",
    "volume_local_to_instance": false,
    "volume_mount_prefix": "/volumes/disk",
    "volume_type": null,
    "volumes_availability_zone": null,
    "volumes_per_node": 0,
    "volumes_size": 0
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                        
                        
                        
                        
                    
                
    </resources>
    <!-- *******************************************************-->
    <!--             OS Node group templates actions           -->
    <!--******************************************************-->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="node-group-templates-list">
        
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="node-group-templates-get">
        
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="node-group-templates-create">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="node-group-templates-delete">
        
        <response status="204"/>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:capi="http://docs.openstack.org/common/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="node-group-templates-update">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
</wadl:application>
