html/wadls/os-console-output-v2.1.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <resources xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:csapi="http://docs.openstack.org/identity/api/v3"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-console-output-v2.1">
        <resource path="/v2.1/{tenant_id}/servers/{server_id}/action"
                id="action-os-console-output">
         <param name="tenant_id" style="template" type="csapi:UUID">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The tenant ID in a multi-tenancy cloud.</para>
            </wadl:doc>
         </param>
         <param name="server_id" style="template" type="csapi:UUID">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The UUID for the server.</para>
            </wadl:doc>
         </param>
         <method name="POST" rax:id="getConsoleOutput">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Get console output for an instance">
               <para role="shortdesc">
                Gets console output for a server instance.
            </para>
               <para>
                Specify the <code>os-getConsoleOutput</code> action in the
                request body.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Get console output: JSON request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "os-getConsoleOutput": {
        "length": 50
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <param name="os-getConsoleOutput"
                         style="plain"
                         type="xsd:string"
                         required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                               xml:lang="EN"
                               title="Get console output action">
                            <para>
                                Specify the <code>os-getConsoleOutput</code>
                                action in the request body.
                            </para>
                    </wadl:doc>
                  </param>
                  <param name="length" style="plain">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Length">
                        <para>Number of lines to fetch from the end of
                            console log. <code>-1</code> indicates unlimited.</para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"
                            title="Get console output: JSON response">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "output": "FAKE CONSOLE OUTPUT\nANOTHER\nLAST LINE"
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                            
                        
    </resources>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="getConsoleOutput">
        
        <request>
            <representation mediaType="application/json">
                
                <param name="os-getConsoleOutput"
                   style="plain"
                   type="xsd:string"
                   required="true">
                    
                </param>
                <param name="length" style="plain">
                    
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
</wadl:application>
