html/wadls/os-fping-v2.1.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <resources xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:csapi="http://docs.openstack.org/identity/api/v3"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-fping-v2.1">
        <resource id="os-fping" path="/v2.1/{tenant_id}/os-fping">
         <param name="tenant_id" style="template" type="csapi:UUID">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The tenant ID in a multi-tenancy cloud.</para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="list-fping">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Ping instances">
               <para role="shortdesc">
                Run the fping utility to ping all or specified instances and
                report which ones are alive.
            </para>
               <para>
                Specify the <code>all_tenants=1</code> query parameter to ping
                instances for all tenants. For example:
            </para>
               <programlisting language="json">GET /os-fping?all_tenants=1</programlisting>
               <para>
                Specify the <code>include</code> and <code>exclude</code>
                query parameters to filter the results. For example:
            </para>
               <programlisting language="json">GET /os-fping?all_tenants=1&amp;include=uuid1,uuid2&amp;exclude=uuid3,uuid4</programlisting>
               <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <param name="all_tenants"
                         style="query"
                         required="false"
                         type="xsd:int">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                        Specify the <code>all_tenants=1</code> query parameter
                        to ping instances for all tenants.
                    </para>
                     </wadl:doc>
                  </param>
                  <param name="include" style="query" required="false" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                        Specify <code>include=uuid[,uuid...]</code> to include
                        the specified instances in the results.
                    </para>
                     </wadl:doc>
                  </param>
                  <param name="exclude" style="query" required="false" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                        Specify <code>exclude=uuid[,uuid...]</code> to exclude
                        the specified instances from the results.
                    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "servers": [
        {
            "alive": false,
            "id": "1d1aea35-472b-40cf-9337-8eb68480aaa1",
            "project_id": "openstack"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                     
                     <resource path="/v2.1/{tenant_id}/os-fping/{id}" id="id">
         <param name="tenant_id" style="template" type="csapi:UUID">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The tenant ID in a multi-tenancy cloud.</para>
            </wadl:doc>
         </param>
         <param name="id" style="template" type="csapi:UUID">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The ID of the instance.</para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="show-fping">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Ping an instance">
               <para role="shortdesc">
                Run the fping utility to ping a specified instance and report
                whether it is alive.
            </para>
               <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "server": {
        "alive": false,
        "id": "f5e6fd6d-c0a3-4f9e-aabf-d69196b6d11a",
        "project_id": "openstack"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                        

                        
                     
                
    </resources>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="list-fping">
        
        <request>
            <representation mediaType="application/json">
            <param name="all_tenants"
                   style="query"
                   required="false"
                   type="xsd:int">
                
            </param>
            <param name="include" style="query" required="false" type="xsd:string">
                
            </param>
            <param name="exclude" style="query" required="false" type="xsd:string">
                
            </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="show-fping">
        
        <response status="200">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
</wadl:application>
