html/wadls/os-image-1.0.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2012-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-image-1.0.wadl               -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <wadl:grammars xmlns:db="http://docbook.org/ns/docbook"
                  xmlns="http://wadl.dev.java.net/2009/02">
      <wadl:include href="27648-os-image-1.0-xsd-1.xsd"/>
      <wadl:include href="27648-os-image-1.0-xsd-2.xsd"/>
   </wadl:grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
              xmlns:common="http://docs.openstack.org/common/api/v1.0"
              xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://glance.example.com/"
              xml:id="os-image-v1.0">
        <resource id="versions" path="/">
         <method name="GET" rax:id="listVersions-image-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List API versions">
               <para role="shortdesc">Lists information about all Image
                service API versions.</para>
            </wadl:doc>
            <response status="200 300">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "versions": [
        {
            "status": "CURRENT",
            "id": "v2.2",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v2/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v2.1",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v2/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v2.0",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v2/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v1.1",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v1/",
                    "rel": "self"
                }
            ]
        },
        {
            "status": "SUPPORTED",
            "id": "v1.0",
            "links": [
                {
                    "href": "http://23.253.228.211:9292/v1/",
                    "rel": "self"
                }
            ]
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
            
        
        <!--  <resource id="extensions" path="extensions">
            <method href="#listExtensions"/>
            <resource id="extension" path="{alias}">
                <param xmlns="http://wadl.dev.java.net/2009/02" name="alias" style="template" type="xsd:string"/>
                <method href="#getExtension"/>
            </resource>
        </resource>-->
        <resource id="Images" path="/v1/images">
         <method name="GET" rax:id="listImage-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List images">
               <para role="shortdesc">Lists public VM images.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/xml">
                
                  <param name="name" style="query" required="false" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a specified image name,
            in string format.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="container_format"
                         style="query"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a specified container
            format, such as <code>ovf</code>,
            <code>bare</code>, <code>aki</code>,
            <code>ari</code>, or <code>ami</code>.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="disk_format"
                         style="query"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a specified disk format. A valid value
            is <code>aki</code>, <code>ari</code>, <code>ami</code>,
            <code>raw</code>, <code>iso</code>, <code>vhd</code>,
            <code>vdi</code>, <code>qcow2</code>, or <code>vmdk</code>.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="status" style="query" required="false" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a specified status. A
            valid value is <code>queued</code>,
            <code>saving</code>, <code>active</code>,
            <code>killed</code>, <code>deleted</code>, or
            <code>pending_delete</code>.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="size_min"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a specified minimum
            image size, in bytes.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="size_max"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a specified maximum
            image size, in bytes.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="changes-since"
                         style="query"
                         required="false"
                         type="xsd:dateTime"
                         default="ALL">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list to those images that
            have changed since a specified time stamp
            value.
        </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="imageapi:images"/>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "images": [
        {
            "uri": "http://glance.example.com/images/71c675ab-d94f-49cd-a114-e12490b328d9",
            "name": "Ubuntu 10.04 Plain",
            "disk_format": "vhd",
            "container_format": "ovf",
            "size": "5368709120"
        },
        {
            "...": "..."
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="POST" rax:id="createImage-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create image">
               <para role="shortdesc">Registers a virtual machine (VM)
                image.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="image">
                  <param name="name" style="plain" type="xsd:string" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Images name">
                        <para>Name for the image. Note that the name
                            of an image is not unique to a Glance
                            node. The API cannot expect users to know
                            the names of images owned by
                            others.</para>
                    </wadl:doc>
                  </param>
                  <param name="disk_format"
                         style="plain"
                         type="xsd:string"
                         required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                               xml:lang="EN"
                               title="Image disk format">
                        <para>
                            A valid value is <code>aki</code>,
                            <code>ari</code>, <code>ami</code>,
                            <code>raw</code>, <code>iso</code>,
                            <code>vhd</code>, <code>vdi</code>,
                            <code>qcow2</code>, or <code>vmdk</code>.
                        </para>
                        <para>The disk format of a VM image is the
                            format of the underlying disk image.
                            Virtual appliance vendors have different
                            formats for laying out the information
                            contained in a VM disk image.</para>
                        <para>You can set the container format for
                            your image to one of the following
                            values:</para>
                        <itemizedlist>
                            <listitem>
                                <para>
                                   <strong>raw</strong>
                              </para>
                                <para>Unstructured disk image
                                   format.</para>
                            </listitem>
                            <listitem>
                                <para>
                                   <strong>vhd</strong>
                              </para>
                                <para>VHD disk format, a common disk
                                   format used by VM monitors from
                                   VMWare, Xen, Microsoft, VirtualBox,
                                   and others.</para>
                            </listitem>
                            <listitem>
                                <para>
                                   <strong>vmdk</strong>
                              </para>
                                <para>A common disk format that
                                   supported by many VM
                                   monitors.</para>
                            </listitem>
                            <listitem>
                                <para>
                                   <strong>vdi</strong>
                              </para>
                                <para>Supported by VirtualBox VM
                                   monitor and the QEMU
                                   emulator.</para>
                            </listitem>
                            <listitem>
                                <para>
                                   <strong>iso</strong>
                              </para>
                                <para>An archive format for the data
                                   contents of an optical disc, such
                                   as CDROM.</para>
                            </listitem>
                            <listitem>
                                <para>
                                   <strong>qcow2</strong>
                              </para>
                                <para>Supported by the QEMU emulator
                                   that can expand dynamically and
                                   supports Copy on Write.</para>
                            </listitem>
                            <listitem>
                                <para>
                                   <strong>aki</strong>
                              </para>
                                <para>An Amazon kernel image.</para>
                            </listitem>
                            <listitem>
                                <para>
                                   <strong>ari</strong>
                              </para>
                                <para>An Amazon ramdisk image.</para>
                            </listitem>
                            <listitem>
                                <para>
                                   <strong>ami</strong>
                              </para>
                                <para>An Amazon machine image.</para>
                            </listitem>
                        </itemizedlist>
                    </wadl:doc>
                  </param>
                  <param name="container_format"
                         style="plain"
                         type="xsd:string"
                         required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                               xml:lang="EN"
                               title="Container Formats">
                        <para>The container format refers to whether
                            the VM image is in a file format that also
                            contains metadata about the actual
                            VM.</para>
                        <para>
                            Container formats include OVF and Amazon AMI. In
                            addition, a VM image might not have a container
                            format. Instead, the image is a blob of
                            unstructured data.
                        </para>
                        <para>You can set the container format to one
                            of the following formats:</para>
                        <itemizedlist>
                            <listitem>
                                <para>
                                   <strong>ovf</strong>
                              </para>
                                <para>OVF container format.</para>
                            </listitem>
                            <listitem>
                                <para>
                                   <strong>bare</strong>
                              </para>
                                <para>No container or metadata
                                   envelope for the image.</para>
                            </listitem>
                            <listitem>
                                <para>
                                   <strong>aki</strong>
                              </para>
                                <para>Amazon kernel image.</para>
                            </listitem>
                            <listitem>
                                <para>
                                   <strong>ari</strong>
                              </para>
                                <para>Amazon ramdisk image.</para>
                            </listitem>
                            <listitem>
                                <para>
                                   <strong>ami</strong>
                              </para>
                                <para>Amazon machine image.</para>
                            </listitem>
                        </itemizedlist>
                    </wadl:doc>
                  </param>
                  <param name="createImage" type="ImageForCreate" path="/images"/>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/xml" element="common:version">
                  <param name="location"
                         style="plain"
                         type="xsd:anyURI"
                         required="true"
                         path="/common:version/atom:link[@rel='self']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                               xml:lang="EN"
                               title="Image Location">
                        <para>A location for the image identified by a
                            URI.</para>
                    </wadl:doc>
                    <link resource_type="#createImage" rel="self"/>
                  </param>
               </representation>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
      <resource path="/v1/images/detail" id="detail">
         <method name="GET" rax:id="listDetailImage-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List image details">
               <para role="shortdesc">Lists details for available
                images.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/xml">
                
                  <param name="name" style="query" required="false" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a specified image name,
            in string format.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="container_format"
                         style="query"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a specified container
            format, such as <code>ovf</code>,
            <code>bare</code>, <code>aki</code>,
            <code>ari</code>, or <code>ami</code>.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="disk_format"
                         style="query"
                         required="false"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a specified disk format. A valid value
            is <code>aki</code>, <code>ari</code>, <code>ami</code>,
            <code>raw</code>, <code>iso</code>, <code>vhd</code>,
            <code>vdi</code>, <code>qcow2</code>, or <code>vmdk</code>.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="status" style="query" required="false" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a specified status. A
            valid value is <code>queued</code>,
            <code>saving</code>, <code>active</code>,
            <code>killed</code>, <code>deleted</code>, or
            <code>pending_delete</code>.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="size_min"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a specified minimum
            image size, in bytes.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="size_max"
                         style="query"
                         required="false"
                         type="xsd:string"
                         default="ALL">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list by a specified maximum
            image size, in bytes.
        </para>
                     </wadl:doc>
                  </param>
                  <param name="changes-since"
                         style="query"
                         required="false"
                         type="xsd:dateTime"
                         default="ALL">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
            Filters the image list to those images that
            have changed since a specified time stamp
            value.
        </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="imageapi:images">
                  <param name="next"
                         style="plain"
                         type="xsd:anyURI"
                         path="/imageapi:images/atom:link[@rel='next']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Next">
                        <para>Show the next item in the list.</para>
                    </wadl:doc>
                    <link resource_type="#DetailImageList" rel="next"/>
                  </param>
                  <param name="previous"
                         style="plain"
                         type="xsd:anyURI"
                         path="/imageapi:images/atom:link[@rel='previous']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Previous">
                        <para>Show the previous item in the
                            list.</para>
                    </wadl:doc>
                    <link resource_type="#DetailImageList" rel="previous"/>
                  </param>
               </representation>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "images": [
        {
            "uri": "http://glance.example.com/images/71c675ab-d94f-49cd-a114-e12490b328d9",
            "name": "Ubuntu 10.04 Plain 5GB",
            "disk_format": "vhd",
            "container_format": "ovf",
            "size": "5368709120",
            "checksum": "c2e5db72bd7fd153f53ede5da5a06de3",
            "created_at": "2010-02-03 09:34:01",
            "updated_at": "2010-02-03 09:34:01",
            "deleted_at": "",
            "status": "active",
            "is_public": true,
            "min_ram": 256,
            "min_disk": 5,
            "owner": null,
            "properties": {
                "distro": "Ubuntu 10.04 LTS"
            }
        },
        {
            "...": "..."
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
      <resource path="/v1/images/{image_id}" id="image_id">
         <param name="image_id" style="template" type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
               <para>
          Image ID stored through the image API. Typically a UUID.
        </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="getImage-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show image details and image binary">
               <para role="shortdesc">Shows the image details as headers
                and the image binary in the body of the
                response.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/xml" element="imageapi:image"/>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "images": [
        {
            "uri": "http://glance.example.com/images/71c675ab-d94f-49cd-a114-e12490b328d9",
            "name": "Ubuntu 10.04 Plain 5GB",
            "disk_format": "vhd",
            "container_format": "ovf",
            "size": "5368709120",
            "checksum": "c2e5db72bd7fd153f53ede5da5a06de3",
            "created_at": "2010-02-03 09:34:01",
            "updated_at": "2010-02-03 09:34:01",
            "deleted_at": "",
            "status": "active",
            "is_public": true,
            "min_ram": 256,
            "min_disk": 5,
            "owner": null,
            "properties": {
                "distro": "Ubuntu 10.04 LTS"
            }
        },
        {
            "...": "..."
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
         <method name="PUT" rax:id="updateImage-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Update image">
               <para role="shortdesc">Updates an image, uploads an image
                file, or updates metadata for an image.</para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/xml" element="common:version">
                  <param name="location"
                         style="plain"
                         type="xsd:anyURI"
                         required="true"
                         path="/common:version/atom:link[@rel='self']/@href">
                    <link resource_type="#createImage" rel="self"/>
                  </param>
               </representation>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteImage-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete image">
               <para role="shortdesc">Deletes the specified image.</para>
            </wadl:doc>
            <response status="204"/>
         </method>
      </resource>
                    

                    
                    
                    
                    
                    <resource id="members" path="/v1/images/{image_id}/members">
         <param name="image_id" style="template" type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
               <para>
          Image ID stored through the image API. Typically a UUID.
        </para>
            </wadl:doc>
         </param>
         <method name="PUT" rax:id="replaceMember-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Replace member">
               <para role="shortdesc">Replaces a membership list for an
                image.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="image">
                  <param name="memberships" style="plain" required="true"/>
                
                  <param name="can_share"
                         style="plain"
                         required="true"
                         type="xsd:boolean">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="can_share">
                        <para>
            Indicates whether the specified owner is
            authorized to share the specified image.
        </para>
                        <para>
            If the owner can share the image, this value is
            <code>true</code>. Otherwise, this value is
            <code>false</code>.
        </para>
                        <para>
            The owner ID, which is the tenant ID, is
            specified in the request URI.
        </para>
                     </wadl:doc>
                  </param>
                  <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                     <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "memberships": [
        {
            "member_id": "tenant1",
            "can_share": false
        },
        {
            "...": "..."
        }
    ]
}
</programlisting>
                  </xsdxt:code>
               </representation>
            </request>
            <response status="204"/>
         </method>
      </resource>
                        
                        <resource path="/v1/images/{image_id}/members/{owner_id}" id="owner-id">
         <param name="image_id" style="template" type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
               <para>
          Image ID stored through the image API. Typically a UUID.
        </para>
            </wadl:doc>
         </param>
         <param name="owner_id" style="template" type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Owner ID">
               <para>
        Owner ID, which is the tenant ID.
     </para>
            </wadl:doc>
         </param>
         <method name="PUT" rax:id="addMember-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Add member">
               <para role="shortdesc">Adds a member to an image.</para>
               <para>
                If you omit the request body, this call adds the membership to
                the image, leaves the existing memberships unmodified, and
                sets the <code>can_share</code> attribute to
                <code>false</code> for new memberships.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="image">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "members": [
        {
            "member_id": "tenant1",
            "can_share": false
        },
        {
            "member_id": "tenant2",
            "can_share": false
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="can_share"
                         style="plain"
                         required="true"
                         type="xsd:boolean">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="can_share">
                        <para>
            Indicates whether the specified owner is
            authorized to share the specified image.
        </para>
                        <para>
            If the owner can share the image, this value is
            <code>true</code>. Otherwise, this value is
            <code>false</code>.
        </para>
                        <para>
            The owner ID, which is the tenant ID, is
            specified in the request URI.
        </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="204"/>
         </method>
         <method name="DELETE" rax:id="removeMember-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Remove member">
               <para role="shortdesc">Removes a member from an
                image.</para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json" element="image">
                  <param name="member_id"
                         style="plain"
                         required="true"
                         type="csapi:uuid">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>ID of member with which an image is
                            shared.</para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="204"/>
         </method>
      </resource>
                            

                            
                            
                        
                    
                <resource path="/v1/shared-images/{owner_id}" id="owner-2">
         <param name="owner_id" style="template" type="xsd:string">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Owner ID">
               <para>
        Owner ID, which is the tenant ID.
     </para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="getSharedImages-v1">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List shared images">
               <para role="shortdesc">
                Lists the VM images that are shared with a specified owner.
                The owner ID is the tenant ID.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/xml" element="imageapi:images">
                
                  <param name="image_id" style="template" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Image ID">
                        <para>
          Image ID stored through the image API. Typically a UUID.
        </para>
                     </wadl:doc>
                  </param>
                
                  <param name="can_share"
                         style="plain"
                         required="true"
                         type="xsd:boolean">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="can_share">
                        <para>
            Indicates whether the specified owner is
            authorized to share the specified image.
        </para>
                        <para>
            If the owner can share the image, this value is
            <code>true</code>. Otherwise, this value is
            <code>false</code>.
        </para>
                        <para>
            The owner ID, which is the tenant ID, is
            specified in the request URI.
        </para>
                     </wadl:doc>
                  </param>
               </representation>
               <representation mediaType="application/json" element="imageapi:images">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "shared_images": [
        {
            "image_id": "71c675ab-d94f-49cd-a114-e12490b328d9",
            "can_share": false
        },
        {
            "...": "..."
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response>
         </method>
      </resource>
                    

                    
                
    </resources>
    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->
    
    
    
    <!-- <resource_type id="ExtensionList">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN"
            title="Extension List">
            <para>A list of supported extensions.</para>
        </wadl:doc>
        <method href="#listExtensions"/>
    </resource_type>-->
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listVersions-image-v1">
        
        <response status="200 300">
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <!--<method name="GET" id="showVersionDetails-image-v1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN"
            title="Show API v1 details">
            <para role="shortdesc">Shows details for Image service API
                v1.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/imagedetails.json"
                    />
                </wadl:doc>
            </representation>
            <!-\- this call fails - opened bug 1311243 -\->
            <representation mediaType="application/xml"
                element="common:version">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/version-get-resp.xml"/>
                </wadl:doc>
                <param xmlns="http://wadl.dev.java.net/2009/02" name="location" style="plain" type="xsd:anyURI"
                    required="true"
                    path="/common:version/atom:link[@rel='self']/@href">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN" title="Location"><para>Full URL
                            to a service or server.</para></wadl:doc>
                    <link resource_type="#VersionDetails" rel="self"/>
                </param>
            </representation>
        </response>
    </method>-->
    <!-- Extensions -->
    <!--<method name="GET" id="listExtensions">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN"
            title="List extensions">
            <para>Lists available extensions.</para>
        </wadl:doc>
        <response status="200 203">
            <param xmlns="http://wadl.dev.java.net/2009/02" name="next" style="plain" type="xsd:anyURI"
                path="/capi:extensions/atom:link[@rel='next']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">Moves to the next item in the
                    list.</wadl:doc>
                <link resource_type="#ExtensionList" rel="next"/>
            </param>
            <param xmlns="http://wadl.dev.java.net/2009/02" name="previous" style="plain" type="xsd:anyURI"
                path="/capi:extensions/atom:link[@rel='previous']/@href">
                <wadl:doc xmlns="http://docbook.org/ns/docbook"
                    xml:lang="EN">Moves to the previous item in the
                    list.</wadl:doc>
                <link resource_type="#ExtensionList" rel="previous"/>
            </param>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List extensions: JSON response">
                        <xsdxt:code href="../samples/extensions.json"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <!-\-  <representation mediaType="application/xml"
                element="capi:extensions">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List extensions: XML response">
                        <xsdxt:code href="../samples/extensions.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>-\->
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="getExtension">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN"
            title="Get extension details">
            <para>Gets detailed information for a specified
                extension.</para>
        </wadl:doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get extension details: JSON response">
                        <xsdxt:code href="../samples/extension.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <!-\-  <representation mediaType="application/xml"
                element="capi:extension">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get extension details: XML response">
                        <xsdxt:code href="../samples/extension.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>-\->
        </response> &commonFaults; &getFaults; </method>-->
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createImage-v1">
        
        <request>
            <representation mediaType="application/json" element="image">
                <param name="name" style="plain" type="xsd:string" required="true">
                    
                </param>
                <param name="disk_format"
                   style="plain"
                   type="xsd:string"
                   required="true">
                    
                </param>
                <param name="container_format"
                   style="plain"
                   type="xsd:string"
                   required="true">
                    
                </param>
                <param name="createImage" type="ImageForCreate" path="/images"/>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/xml" element="common:version">
                <param name="location"
                   style="plain"
                   type="xsd:anyURI"
                   required="true"
                   path="/common:version/atom:link[@rel='self']/@href">
                    
                    
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updateImage-v1">
        
        <response status="200">
            <representation mediaType="application/xml" element="common:version">
                <param name="location"
                   style="plain"
                   type="xsd:anyURI"
                   required="true"
                   path="/common:version/atom:link[@rel='self']/@href">
                    
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getImage-v1">
        
        <response status="200">
            <representation mediaType="application/xml" element="imageapi:image"/>
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <!--<method name="HEAD" id="getImageHeaders-v1">
        <wadl:doc xmlns="http://docbook.org/ns/docbook"
                        xmlns:wadl="http://wadl.dev.java.net/2009/02"
                        xml:lang="EN"
            title="Show image details as headers">
            <para role="shortdesc">Shows the image details as
                response headers.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml"
                element="imageapi:image"/>
        </response>
    </method>-->
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteImage-v1">
        
        <response status="204"/>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="getSharedImages-v1">
        
        <response status="200">
            <representation mediaType="application/xml" element="imageapi:images">
                
            <param name="image_id" style="template" type="xsd:string">
    
</param>
                
            <param name="can_share"
                   style="plain"
                   required="true"
                   type="xsd:boolean">
    
</param>
            </representation>
            <representation mediaType="application/json" element="imageapi:images">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listImage-v1">
        
        <request>
            <representation mediaType="application/xml">
                
            <param name="name" style="query" required="false" type="xsd:string">
    
</param>
            <param name="container_format"
                   style="query"
                   required="false"
                   type="xsd:string">
    
</param>
            <param name="disk_format"
                   style="query"
                   required="false"
                   type="xsd:string">
    
</param>
            <param name="status" style="query" required="false" type="xsd:string">
    
</param>
            <param name="size_min"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL">
    
</param>
            <param name="size_max"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL">
    
</param>
            <param name="changes-since"
                   style="query"
                   required="false"
                   type="xsd:dateTime"
                   default="ALL">
    
</param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="imageapi:images"/>
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listDetailImage-v1">
        
        <request>
            <representation mediaType="application/xml">
                
            <param name="name" style="query" required="false" type="xsd:string">
    
</param>
            <param name="container_format"
                   style="query"
                   required="false"
                   type="xsd:string">
    
</param>
            <param name="disk_format"
                   style="query"
                   required="false"
                   type="xsd:string">
    
</param>
            <param name="status" style="query" required="false" type="xsd:string">
    
</param>
            <param name="size_min"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL">
    
</param>
            <param name="size_max"
                   style="query"
                   required="false"
                   type="xsd:string"
                   default="ALL">
    
</param>
            <param name="changes-since"
                   style="query"
                   required="false"
                   type="xsd:dateTime"
                   default="ALL">
    
</param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="imageapi:images">
                <param name="next"
                   style="plain"
                   type="xsd:anyURI"
                   path="/imageapi:images/atom:link[@rel='next']/@href">
                    
                    
                </param>
                <param name="previous"
                   style="plain"
                   type="xsd:anyURI"
                   path="/imageapi:images/atom:link[@rel='previous']/@href">
                    
                    
                </param>
            </representation>
            <representation mediaType="application/json">
                
            </representation>
        </response>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="addMember-v1">
        
        <request>
            <representation mediaType="application/json" element="image">
                
                
            <param name="can_share"
                   style="plain"
                   required="true"
                   type="xsd:boolean">
    
</param>
            </representation>
        </request>
        <response status="204"/>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="replaceMember-v1">
        
        <request>
            <representation mediaType="application/json" element="image">
                <param name="memberships" style="plain" required="true"/>
                
            <param name="can_share"
                   style="plain"
                   required="true"
                   type="xsd:boolean">
    
</param>
                <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
               <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "memberships": [
        {
            "member_id": "tenant1",
            "can_share": false
        },
        {
            "...": "..."
        }
    ]
}
</programlisting>
            </xsdxt:code>
            </representation>
        </request>
        <response status="204"/>
    </method>
    <method xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:imageapi="http://docs.openstack.org/image/api/v1.0"
           xmlns:common="http://docs.openstack.org/common/api/v1.0"
           xmlns:csapi="http://docs.openstack.org/image/api/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="removeMember-v1">
        
        <request>
            <representation mediaType="application/json" element="image">
                <param name="member_id"
                   style="plain"
                   required="true"
                   type="csapi:uuid">
                    
                </param>
            </representation>
        </request>
        <response status="204"/>
    </method>
</wadl:application>
