html/wadls/os-multinic-v2.1.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <resources xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
              xmlns:csapi="http://docs.openstack.org/identity/api/v3"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-multinic-v2.1">
        <resource id="action" path="/v2.1/{tenant_id}/servers/{server_id}/action">
         <param name="tenant_id" style="template" type="csapi:UUID">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The tenant ID in a multi-tenancy cloud.</para>
            </wadl:doc>
         </param>
         <param name="server_id" style="template" type="csapi:UUID">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The UUID for the server.</para>
            </wadl:doc>
         </param>
         <method name="POST" rax:id="removeip">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Remove IP from instance">
               <para role="shortdesc">Removes an IP from a specified
                instance.</para>
               <para>
                Specify the <code>remove_fixed_ip</code> action in the request
                body.
            </para>
               <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "removeFixedIp": {
        "address": "10.0.0.4"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="202"/>
         </method>
         <method name="POST" rax:id="addiptoinstance">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Add IP to instance">
               <para role="shortdesc">Adds an IP to a specified network
                on an instance.</para>
               <para>
                Specify the <code>addFixedIp</code> action in the request
                body.
            </para>
               <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud providers can change
                these permissions through the <code>policy.json</code> file.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "addFixedIp": {
        "networkId": 1
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="202"/>
         </method>
      </resource>
                            
                            
                        
    </resources>
    <!-- *******************************************************-->
    <!--      OS Multinic            -->
    <!--*******************************************************-->
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="addiptoinstance">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="202"/>
    </method>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="removeip">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="202"/>
    </method>
</wadl:application>
