html/wadls/os-networks-provider-ext.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2013-2014 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-networks-provider-ext.wadl   -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:linkend="http://www.w3.org/1999/linkend"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://neutron.example.com/"
              xml:id="os-networks-provider-ext-v2.0">
        <resource id="ProviderNetworks" path="/v2.0/networks">
         <method name="GET" rax:id="listProviderNetworks">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List networks">
               <para role="shortdesc">Lists networks that are accessible
                to the tenant who submits the request.</para>
            </wadl:doc>
            <response status="200"> 

               <param required="true" name="network" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          A <code>network</code> object.
        </para>
                  </wadl:doc>
               </param> 

               <param required="true"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          The administrative state of the network, which is up
          (<code>true</code>) or down (<code>false</code>).
        </para>
                  </wadl:doc>
               </param>
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network ID.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network name.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="shared" style="plain" type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is shared across all tenants.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="status" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network status.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="subnets" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The associated subnets.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="router:external"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is externally accessible.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="mtu" style="plain" type="xsd:integer">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>MTU of a network resource.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="port_security_enabled"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
      The port security status. A valid value is enabled
      (<code>true</code>) or disabled (<code>false</code>).
    </para>
                  </wadl:doc>
               </param>

            
               <param required="false"
                      name="provider:physical_network"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        The physical network where this network object is implemented. The
        Networking API v2.0 does not provide a way to list available physical
        networks. For example, the Open vSwitch plug-in configuration file
        defines a symbolic name that maps to specific bridges on each Compute
        host.
      </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="provider:network_type"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        The type of physical network that maps to this network resource. For
        example, <code>flat</code>, <code>vlan</code>, <code>vxlan</code>,
        or <code>gre</code>.
      </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="provider:segmentation_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        An isolated segment on the physical network. The
        <code>network_type</code> attribute defines the segmentation model.
        For example, if the <code>network_type</code> value is vlan, this ID
        is a vlan identifier. If the <code>network_type</code> value is gre,
        this ID is a gre key.
      </para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "network": {
        "status": "ACTIVE",
        "subnets": [
            "54d6f61d-db07-451c-9ab3-b9609b6b6f0b"
        ],
        "name": "private-network",
        "router:external": false,
        "admin_state_up": true,
        "tenant_id": "4fd44f30292945e481c7b8a0c8908869",
        "mtu": 0,
        "shared": true,
        "port_security_enabled": true,
        "id": "d32019d3-bc6e-4319-9c1d-6722fc136a22"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;network xmlns="http://openstack.org/quantum/api/v2.0"
    xmlns:provider="http://docs.openstack.org/ext/provider/api/v1.0"
    xmlns:quantum="http://openstack.org/quantum/api/v2.0"
    xmlns:router="http://docs.openstack.org/ext/neutron/router/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
    &lt;status&gt;ACTIVE&lt;/status&gt;
    &lt;subnets&gt;
        &lt;subnet&gt;54d6f61d-db07-451c-9ab3-b9609b6b6f0b&lt;/subnet&gt;
    &lt;/subnets&gt;
    &lt;name&gt;private-network&lt;/name&gt;
    &lt;admin_state_up quantum:type="bool"&gt;True&lt;/admin_state_up&gt;
    &lt;tenant_id&gt;4fd44f30292945e481c7b8a0c8908869&lt;/tenant_id&gt;
    &lt;shared quantum:type="bool"&gt;True&lt;/shared&gt;
    &lt;id&gt;d32019d3-bc6e-4319-9c1d-6722fc136a22&lt;/id&gt;
&lt;/network&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="POST" rax:id="createProviderNetwork">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      title="Create network"
                      xml:lang="EN">
               <para role="shortdesc">Creates a network.</para>
            </wadl:doc>
            <request> 
    
               <param required="true" name="network" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          A <code>network</code> object.
        </para>
                  </wadl:doc>
               </param> 
               <param required="false"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          The administrative state of the network, which is up
          (<code>true</code>) or down (<code>false</code>).
        </para>
                  </wadl:doc>
               </param>
               <param required="false" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http:/docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network name.</para>
                  </wadl:doc>
               </param>
               <param required="false" name="shared" style="plain" type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Admin-only. Indicates whether this network is shared
            across all tenants.</para>
                  </wadl:doc>
               </param>

               <param required="false"
                      name="tenant_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          The ID of the tenant who owns the network. Only administrative
          users can specify a tenant ID other than their own. You cannot
          change this value through authorization policies.
        </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="router:external"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is externally accessible.</para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="port_security_enabled"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
            The port security status. A valid value is enabled
            (<code>true</code>) or disabled (<code>false</code>).
          </para>
                  </wadl:doc>
               </param>
            
               <param required="false"
                      name="provider:physical_network"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        The physical network where this network object is implemented. The
        Networking API v2.0 does not provide a way to list available physical
        networks. For example, the Open vSwitch plug-in configuration file
        defines a symbolic name that maps to specific bridges on each Compute
        host.
      </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="provider:network_type"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        The type of physical network that maps to this network resource. For
        example, <code>flat</code>, <code>vlan</code>, <code>vxlan</code>,
        or <code>gre</code>.
      </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="provider:segmentation_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        An isolated segment on the physical network. The
        <code>network_type</code> attribute defines the segmentation model.
        For example, if the <code>network_type</code> value is vlan, this ID
        is a vlan identifier. If the <code>network_type</code> value is gre,
        this ID is a gre key.
      </para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "network": {
        "name": "sample_network",
        "admin_state_up": true
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;network&gt;
    &lt;name&gt;sample_network2&lt;/name&gt;
&lt;/network&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="201"> 

               <param required="true" name="network" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          A <code>network</code> object.
        </para>
                  </wadl:doc>
               </param> 

               <param required="true"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          The administrative state of the network, which is up
          (<code>true</code>) or down (<code>false</code>).
        </para>
                  </wadl:doc>
               </param>
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network ID.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network name.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="shared" style="plain" type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is shared across all tenants.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="status" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network status.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="subnets" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The associated subnets.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="router:external"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is externally accessible.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="mtu" style="plain" type="xsd:integer">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>MTU of a network resource.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="port_security_enabled"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
      The port security status. A valid value is enabled
      (<code>true</code>) or disabled (<code>false</code>).
    </para>
                  </wadl:doc>
               </param>

            
               <param required="false"
                      name="provider:physical_network"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        The physical network where this network object is implemented. The
        Networking API v2.0 does not provide a way to list available physical
        networks. For example, the Open vSwitch plug-in configuration file
        defines a symbolic name that maps to specific bridges on each Compute
        host.
      </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="provider:network_type"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        The type of physical network that maps to this network resource. For
        example, <code>flat</code>, <code>vlan</code>, <code>vxlan</code>,
        or <code>gre</code>.
      </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="provider:segmentation_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        An isolated segment on the physical network. The
        <code>network_type</code> attribute defines the segmentation model.
        For example, if the <code>network_type</code> value is vlan, this ID
        is a vlan identifier. If the <code>network_type</code> value is gre,
        this ID is a gre key.
      </para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "network": {
        "status": "ACTIVE",
        "subnets": [],
        "name": "net1",
        "admin_state_up": true,
        "tenant_id": "9bacb3c5d39d41a79512987f338cf177",
        "router:external": false,
        "segments": [
            {
                "provider:segmentation_id": 2,
                "provider:physical_network": "8bab8453-1bc9-45af-8c70-f83aa9b50453",
                "provider:network_type": "vlan"
            },
            {
                "provider:segmentation_id": null,
                "provider:physical_network": "8bab8453-1bc9-45af-8c70-f83aa9b50453",
                "provider:network_type": "stt"
            }
        ],
        "shared": false,
        "id": "4e8e5957-649f-477b-9e5b-f1f75b21c03c"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;network xmlns="http://openstack.org/quantum/api/v2.0"
    xmlns:provider="http://docs.openstack.org/ext/provider/api/v1.0"
    xmlns:quantum="http://openstack.org/quantum/api/v2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
    &lt;status&gt;ACTIVE&lt;/status&gt;
    &lt;subnets quantum:type="list"/&gt;
    &lt;name&gt;sample_network2&lt;/name&gt;
    &lt;provider:physical_network xsi:nil="true"/&gt;
    &lt;admin_state_up quantum:type="bool"&gt;True&lt;/admin_state_up&gt;
    &lt;tenant_id&gt;4fd44f30292945e481c7b8a0c8908869&lt;/tenant_id&gt;
    &lt;provider:network_type&gt;local&lt;/provider:network_type&gt;
    &lt;shared quantum:type="bool"&gt;False&lt;/shared&gt;
    &lt;id&gt;c220b026-ece1-4ead-873f-83537f4c9f92&lt;/id&gt;
    &lt;provider:segmentation_id xsi:nil="true"/&gt;
&lt;/network&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                    
                    
                    <resource path="/v2.0/networks/{network_id}" id="network_id">
         <param name="network_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The UUID for the
                                   network of interest to
                                you.</para>
            </wadl:doc>
                        </param>
         <method name="GET" rax:id="showProviderNetwork">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" title="Show network details">
               <para role="shortdesc">Shows details for a specified
                network.</para>
            </wadl:doc>
            <response status="200"> 

               <param required="true" name="network" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          A <code>network</code> object.
        </para>
                  </wadl:doc>
               </param> 

               <param required="true"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          The administrative state of the network, which is up
          (<code>true</code>) or down (<code>false</code>).
        </para>
                  </wadl:doc>
               </param>
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network ID.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network name.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="shared" style="plain" type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is shared across all tenants.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="status" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network status.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="subnets" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The associated subnets.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="router:external"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is externally accessible.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="mtu" style="plain" type="xsd:integer">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>MTU of a network resource.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="port_security_enabled"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
      The port security status. A valid value is enabled
      (<code>true</code>) or disabled (<code>false</code>).
    </para>
                  </wadl:doc>
               </param>

            
               <param required="false"
                      name="provider:physical_network"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        The physical network where this network object is implemented. The
        Networking API v2.0 does not provide a way to list available physical
        networks. For example, the Open vSwitch plug-in configuration file
        defines a symbolic name that maps to specific bridges on each Compute
        host.
      </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="provider:network_type"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        The type of physical network that maps to this network resource. For
        example, <code>flat</code>, <code>vlan</code>, <code>vxlan</code>,
        or <code>gre</code>.
      </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="provider:segmentation_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        An isolated segment on the physical network. The
        <code>network_type</code> attribute defines the segmentation model.
        For example, if the <code>network_type</code> value is vlan, this ID
        is a vlan identifier. If the <code>network_type</code> value is gre,
        this ID is a gre key.
      </para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "network": {
        "status": "ACTIVE",
        "subnets": [
            "54d6f61d-db07-451c-9ab3-b9609b6b6f0b"
        ],
        "name": "private-network",
        "router:external": false,
        "admin_state_up": true,
        "tenant_id": "4fd44f30292945e481c7b8a0c8908869",
        "mtu": 0,
        "shared": true,
        "port_security_enabled": true,
        "id": "d32019d3-bc6e-4319-9c1d-6722fc136a22"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;network xmlns="http://openstack.org/quantum/api/v2.0"
    xmlns:provider="http://docs.openstack.org/ext/provider/api/v1.0"
    xmlns:quantum="http://openstack.org/quantum/api/v2.0"
    xmlns:router="http://docs.openstack.org/ext/neutron/router/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
    &lt;status&gt;ACTIVE&lt;/status&gt;
    &lt;subnets&gt;
        &lt;subnet&gt;54d6f61d-db07-451c-9ab3-b9609b6b6f0b&lt;/subnet&gt;
    &lt;/subnets&gt;
    &lt;name&gt;private-network&lt;/name&gt;
    &lt;admin_state_up quantum:type="bool"&gt;True&lt;/admin_state_up&gt;
    &lt;tenant_id&gt;4fd44f30292945e481c7b8a0c8908869&lt;/tenant_id&gt;
    &lt;shared quantum:type="bool"&gt;True&lt;/shared&gt;
    &lt;id&gt;d32019d3-bc6e-4319-9c1d-6722fc136a22&lt;/id&gt;
&lt;/network&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="PUT" rax:id="updateProviderNetwork">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" title="Update network">
               <para role="shortdesc">Updates a specified network.</para>
            </wadl:doc>
            <request> 
    
               <param required="true" name="network" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          A <code>network</code> object.
        </para>
                  </wadl:doc>
               </param> 
               <param required="false"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          The administrative state of the network, which is up
          (<code>true</code>) or down (<code>false</code>).
        </para>
                  </wadl:doc>
               </param>
               <param required="false" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http:/docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network name.</para>
                  </wadl:doc>
               </param>
               <param required="false" name="shared" style="plain" type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Admin-only. Indicates whether this network is shared
            across all tenants.</para>
                  </wadl:doc>
               </param>

               <param required="false"
                      name="tenant_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          The ID of the tenant who owns the network. Only administrative
          users can specify a tenant ID other than their own. You cannot
          change this value through authorization policies.
        </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="router:external"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is externally accessible.</para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="port_security_enabled"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
            The port security status. A valid value is enabled
            (<code>true</code>) or disabled (<code>false</code>).
          </para>
                  </wadl:doc>
               </param>
            
               <param required="false"
                      name="provider:physical_network"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        The physical network where this network object is implemented. The
        Networking API v2.0 does not provide a way to list available physical
        networks. For example, the Open vSwitch plug-in configuration file
        defines a symbolic name that maps to specific bridges on each Compute
        host.
      </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="provider:network_type"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        The type of physical network that maps to this network resource. For
        example, <code>flat</code>, <code>vlan</code>, <code>vxlan</code>,
        or <code>gre</code>.
      </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="provider:segmentation_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        An isolated segment on the physical network. The
        <code>network_type</code> attribute defines the segmentation model.
        For example, if the <code>network_type</code> value is vlan, this ID
        is a vlan identifier. If the <code>network_type</code> value is gre,
        this ID is a gre key.
      </para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "network": {
        "name": "sample_network_5_updated"
    }
}</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;network xmlns="http://openstack.org/quantum/api/v2.0"
    xmlns:provider="http://docs.openstack.org/ext/provider/api/v1.0"
    xmlns:quantum="http://openstack.org/quantum/api/v2.0"
    xmlns:router="http://docs.openstack.org/ext/quantum/router/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
    &lt;name&gt;sample-network-4-updated&lt;/name&gt;
&lt;/network&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="200"> 

               <param required="true" name="network" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          A <code>network</code> object.
        </para>
                  </wadl:doc>
               </param> 

               <param required="true"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          The administrative state of the network, which is up
          (<code>true</code>) or down (<code>false</code>).
        </para>
                  </wadl:doc>
               </param>
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network ID.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network name.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="shared" style="plain" type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is shared across all tenants.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="status" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network status.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="subnets" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The associated subnets.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="router:external"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is externally accessible.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="mtu" style="plain" type="xsd:integer">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>MTU of a network resource.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="port_security_enabled"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
      The port security status. A valid value is enabled
      (<code>true</code>) or disabled (<code>false</code>).
    </para>
                  </wadl:doc>
               </param>

            
               <param required="false"
                      name="provider:physical_network"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        The physical network where this network object is implemented. The
        Networking API v2.0 does not provide a way to list available physical
        networks. For example, the Open vSwitch plug-in configuration file
        defines a symbolic name that maps to specific bridges on each Compute
        host.
      </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="provider:network_type"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        The type of physical network that maps to this network resource. For
        example, <code>flat</code>, <code>vlan</code>, <code>vxlan</code>,
        or <code>gre</code>.
      </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="provider:segmentation_id"
                      style="plain"
                      type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
        An isolated segment on the physical network. The
        <code>network_type</code> attribute defines the segmentation model.
        For example, if the <code>network_type</code> value is vlan, this ID
        is a vlan identifier. If the <code>network_type</code> value is gre,
        this ID is a gre key.
      </para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "network": {
        "status": "ACTIVE",
        "subnets": [],
        "name": "sample_network_5_updated",
        "provider:physical_network": null,
        "admin_state_up": true,
        "tenant_id": "4fd44f30292945e481c7b8a0c8908869",
        "provider:network_type": "local",
        "router:external": false,
        "mtu": 0,
        "shared": false,
        "port_security_enabled": true,
        "id": "1f370095-98f6-4079-be64-6d3d4a6adcc6",
        "provider:segmentation_id": null
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version='1.0' encoding='UTF-8'?&gt;
&lt;network xmlns="http://openstack.org/quantum/api/v2.0"
    xmlns:provider="http://docs.openstack.org/ext/provider/api/v1.0"
    xmlns:quantum="http://openstack.org/quantum/api/v2.0"
    xmlns:router="http://docs.openstack.org/ext/neutron/router/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
    &lt;status&gt;ACTIVE&lt;/status&gt;
    &lt;subnets quantum:type="list"/&gt;
    &lt;name&gt;sample-network-4-updated&lt;/name&gt;
    &lt;provider:physical_network xsi:nil="true"/&gt;
    &lt;admin_state_up quantum:type="bool"&gt;True&lt;/admin_state_up&gt;
    &lt;tenant_id&gt;4fd44f30292945e481c7b8a0c8908869&lt;/tenant_id&gt;
    &lt;provider:network_type&gt;local&lt;/provider:network_type&gt;
    &lt;router:external quantum:type="bool"&gt;False&lt;/router:external&gt;
    &lt;shared quantum:type="bool"&gt;False&lt;/shared&gt;
    &lt;id&gt;af374017-c9ae-4a1d-b799-ab73111476e2&lt;/id&gt;
    &lt;provider:segmentation_id xsi:nil="true"/&gt;
&lt;/network&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="DELETE" rax:id="deleteProviderNetwork">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" title="Delete network">
               <para role="shortdesc">Deletes a specified network.</para>
            </wadl:doc>
            <response status="204"/> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="409">
               <representation mediaType="application/xml" element="csapi:conflict"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                        
                        
                        
                        
                    
                
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listProviderNetworks">
        
        <response status="200"> 

         <param required="true" name="network" style="plain" type="xsd:dict">
    
</param> 

         <param required="true"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param>
         <param required="true" name="name" style="plain" type="xsd:string">
    
</param>
         <param required="true" name="shared" style="plain" type="xsd:bool">
    
</param>
         <param required="true" name="status" style="plain" type="xsd:string">
    
</param>
         <param required="true" name="subnets" style="plain" type="xsd:dict">
    
</param>
         <param required="true"
                name="tenant_id"
                style="plain"
                type="csapi:uuid">
    
</param>
         <param required="true"
                name="router:external"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="true" name="mtu" style="plain" type="xsd:integer">
    
</param>
         <param required="true"
                name="port_security_enabled"
                style="plain"
                type="xsd:bool">
    
</param>

            
         <param required="false"
                name="provider:physical_network"
                style="plain"
                type="xsd:string">
    
</param>
         <param required="false"
                name="provider:network_type"
                style="plain"
                type="xsd:string">
    
</param>
         <param required="false"
                name="provider:segmentation_id"
                style="plain"
                type="xsd:string">
    
</param> 
         <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
            </representation>
        </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createProviderNetwork">
        
        <request> 
    
         <param required="true" name="network" style="plain" type="xsd:dict">
    
</param> 
         <param required="false"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="false" name="name" style="plain" type="xsd:string">
         
</param>
         <param required="false" name="shared" style="plain" type="xsd:bool">
    
</param>

         <param required="false"
                name="tenant_id"
                style="plain"
                type="csapi:uuid">
    
</param>
         <param required="false"
                name="router:external"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="false"
                name="port_security_enabled"
                style="plain"
                type="xsd:bool">
          
</param>
            
         <param required="false"
                name="provider:physical_network"
                style="plain"
                type="xsd:string">
    
</param>
         <param required="false"
                name="provider:network_type"
                style="plain"
                type="xsd:string">
    
</param>
         <param required="false"
                name="provider:segmentation_id"
                style="plain"
                type="xsd:string">
    
</param> 
         <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
            </representation>
        </request>
        <response status="201"> 

         <param required="true" name="network" style="plain" type="xsd:dict">
    
</param> 

         <param required="true"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param>
         <param required="true" name="name" style="plain" type="xsd:string">
    
</param>
         <param required="true" name="shared" style="plain" type="xsd:bool">
    
</param>
         <param required="true" name="status" style="plain" type="xsd:string">
    
</param>
         <param required="true" name="subnets" style="plain" type="xsd:dict">
    
</param>
         <param required="true"
                name="tenant_id"
                style="plain"
                type="csapi:uuid">
    
</param>
         <param required="true"
                name="router:external"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="true" name="mtu" style="plain" type="xsd:integer">
    
</param>
         <param required="true"
                name="port_security_enabled"
                style="plain"
                type="xsd:bool">
    
</param>

            
         <param required="false"
                name="provider:physical_network"
                style="plain"
                type="xsd:string">
    
</param>
         <param required="false"
                name="provider:network_type"
                style="plain"
                type="xsd:string">
    
</param>
         <param required="false"
                name="provider:segmentation_id"
                style="plain"
                type="xsd:string">
    
</param> 
         <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
            </representation>
        </response> 
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showProviderNetwork">
        
        <response status="200"> 

         <param required="true" name="network" style="plain" type="xsd:dict">
    
</param> 

         <param required="true"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param>
         <param required="true" name="name" style="plain" type="xsd:string">
    
</param>
         <param required="true" name="shared" style="plain" type="xsd:bool">
    
</param>
         <param required="true" name="status" style="plain" type="xsd:string">
    
</param>
         <param required="true" name="subnets" style="plain" type="xsd:dict">
    
</param>
         <param required="true"
                name="tenant_id"
                style="plain"
                type="csapi:uuid">
    
</param>
         <param required="true"
                name="router:external"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="true" name="mtu" style="plain" type="xsd:integer">
    
</param>
         <param required="true"
                name="port_security_enabled"
                style="plain"
                type="xsd:bool">
    
</param>

            
         <param required="false"
                name="provider:physical_network"
                style="plain"
                type="xsd:string">
    
</param>
         <param required="false"
                name="provider:network_type"
                style="plain"
                type="xsd:string">
    
</param>
         <param required="false"
                name="provider:segmentation_id"
                style="plain"
                type="xsd:string">
    
</param> 
         <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
            </representation>
        </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
            <representation mediaType="application/xml" element="csapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="PUT"
           id="updateProviderNetwork">
        
        <request> 
    
         <param required="true" name="network" style="plain" type="xsd:dict">
    
</param> 
         <param required="false"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="false" name="name" style="plain" type="xsd:string">
         
</param>
         <param required="false" name="shared" style="plain" type="xsd:bool">
    
</param>

         <param required="false"
                name="tenant_id"
                style="plain"
                type="csapi:uuid">
    
</param>
         <param required="false"
                name="router:external"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="false"
                name="port_security_enabled"
                style="plain"
                type="xsd:bool">
          
</param>
            
         <param required="false"
                name="provider:physical_network"
                style="plain"
                type="xsd:string">
    
</param>
         <param required="false"
                name="provider:network_type"
                style="plain"
                type="xsd:string">
    
</param>
         <param required="false"
                name="provider:segmentation_id"
                style="plain"
                type="xsd:string">
    
</param> 
         <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
            </representation>
        </request>
        <response status="200"> 

         <param required="true" name="network" style="plain" type="xsd:dict">
    
</param> 

         <param required="true"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param>
         <param required="true" name="name" style="plain" type="xsd:string">
    
</param>
         <param required="true" name="shared" style="plain" type="xsd:bool">
    
</param>
         <param required="true" name="status" style="plain" type="xsd:string">
    
</param>
         <param required="true" name="subnets" style="plain" type="xsd:dict">
    
</param>
         <param required="true"
                name="tenant_id"
                style="plain"
                type="csapi:uuid">
    
</param>
         <param required="true"
                name="router:external"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="true" name="mtu" style="plain" type="xsd:integer">
    
</param>
         <param required="true"
                name="port_security_enabled"
                style="plain"
                type="xsd:bool">
    
</param>

            
         <param required="false"
                name="provider:physical_network"
                style="plain"
                type="xsd:string">
    
</param>
         <param required="false"
                name="provider:network_type"
                style="plain"
                type="xsd:string">
    
</param>
         <param required="false"
                name="provider:segmentation_id"
                style="plain"
                type="xsd:string">
    
</param> 
         <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
            </representation>
        </response> 
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
            <representation mediaType="application/xml" element="csapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="deleteProviderNetwork">
        
        <response status="204"/> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
            <representation mediaType="application/xml" element="csapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response> 
      <response status="409">
         <representation mediaType="application/xml" element="csapi:conflict"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
</wadl:application>
