html/wadls/os-networks-vlan-transparency-ext.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015 Cisco Systems Inc, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--  xmllint -noent os-networks-vlan-transparent-ext.wadl -->
<!--*******************************************************-->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:linkend="http://www.w3.org/1999/linkend"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://neutron.example.com/"
              xml:id="os-networks-vlan-transparency-ext-v2.0">
        <resource id="Networks" path="/v2.0/networks">
         <method name="GET" rax:id="listVTNetworks">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List networks with VLAN transparency attribute">
               <para role="shortdesc">
                Lists networks. The response shows the VLAN transparency
                attribute.
            </para>
            </wadl:doc>
            <response status="200"> 

               <param required="true" name="networks" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          A <code>networks</code> object.
        </para>
                  </wadl:doc>
               </param> 

               <param required="true"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          The administrative state of the network, which is up
          (<code>true</code>) or down (<code>false</code>).
        </para>
                  </wadl:doc>
               </param>
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network ID.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network name.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="shared" style="plain" type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is shared across all tenants.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="status" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network status.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="subnets" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The associated subnets.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="router:external"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is externally accessible.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="mtu" style="plain" type="xsd:integer">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>MTU of a network resource.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="port_security_enabled"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
      The port security status. A valid value is enabled
      (<code>true</code>) or disabled (<code>false</code>).
    </para>
                  </wadl:doc>
               </param>

            
               <param required="true"
                      name="vlan_transparent"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The state of the network, which is VLAN transparent (<code>true</code>)
        or not VLAN transparent (<code>false</code>).</para>
                  </wadl:doc>
               </param>
                <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "networks": [
        {
            "status": "ACTIVE",
            "subnets": [],
            "name": "net1",
            "admin_state_up": true,
            "tenant_id": "e252a863-92ee-480f-8bd8-71be77089499",
            "shared": false,
            "router:external": false,
            "vlan_transparent": true,
            "id": "f5e6d63c-04a4-4b2c-8b27-a9854412d5a7"
        },
        {
            "status": "ACTIVE",
            "subnets": [
                "3daba37a-bced-4153-a4bb-d83dcc0552d9"
            ],
            "name": "private",
            "admin_state_up": true,
            "tenant_id": "109e5fae-d976-4791-84c7-6ae0bb3896c3",
            "shared": true,
            "router:external": false,
            "vlan_transparent": false,
            "id": "37e11503-3244-49f1-b92a-9f21bab017d9"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="POST" rax:id="createVTNetwork">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      title="Create VLAN-transparent network"
                      xml:lang="EN">
               <para role="shortdesc">
                Creates a VLAN-transparent network.
            </para>
            </wadl:doc>
            <request> 
    
               <param required="true" name="network" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          A <code>network</code> object.
        </para>
                  </wadl:doc>
               </param> 
               <param required="false"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          The administrative state of the network, which is up
          (<code>true</code>) or down (<code>false</code>).
        </para>
                  </wadl:doc>
               </param>
               <param required="false" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http:/docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network name.</para>
                  </wadl:doc>
               </param>
               <param required="false" name="shared" style="plain" type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Admin-only. Indicates whether this network is shared
            across all tenants.</para>
                  </wadl:doc>
               </param>

               <param required="false"
                      name="tenant_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          The ID of the tenant who owns the network. Only administrative
          users can specify a tenant ID other than their own. You cannot
          change this value through authorization policies.
        </para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="router:external"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is externally accessible.</para>
                  </wadl:doc>
               </param>
               <param required="false"
                      name="port_security_enabled"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
            The port security status. A valid value is enabled
            (<code>true</code>) or disabled (<code>false</code>).
          </para>
                  </wadl:doc>
               </param>
            
               <param required="true"
                      name="vlan_transparent"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The state of the network, which is VLAN transparent (<code>true</code>)
        or not VLAN transparent (<code>false</code>).</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "network": {
        "name": "net1",
        "admin_state_up": true,
        "vlan_transparent": true
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </request>
            <response status="201"> 

               <param required="true" name="network" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          A <code>network</code> object.
        </para>
                  </wadl:doc>
               </param> 

               <param required="true"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          The administrative state of the network, which is up
          (<code>true</code>) or down (<code>false</code>).
        </para>
                  </wadl:doc>
               </param>
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network ID.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network name.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="shared" style="plain" type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is shared across all tenants.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="status" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network status.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="subnets" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The associated subnets.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="router:external"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is externally accessible.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="mtu" style="plain" type="xsd:integer">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>MTU of a network resource.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="port_security_enabled"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
      The port security status. A valid value is enabled
      (<code>true</code>) or disabled (<code>false</code>).
    </para>
                  </wadl:doc>
               </param>

            
               <param required="true"
                      name="vlan_transparent"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The state of the network, which is VLAN transparent (<code>true</code>)
        or not VLAN transparent (<code>false</code>).</para>
                  </wadl:doc>
               </param> 
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "network": {
        "status": "ACTIVE",
        "subnets": [],
        "name": "net1",
        "admin_state_up": true,
        "vlan_transparent": true,
        "tenant_id": "5831268f-1f52-49a7-88d5-bc0d7a74d523",
        "router:external": false,
        "shared": false,
        "id": "3114f6e9-f9bc-4570-a941-7329b3b9759f"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                    
                    
                    <resource path="/v2.0/networks/{network_id}" id="network_id">
         <param name="network_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                                <para>
                                    The UUID for the network of interest to
                                    you.
                                </para>
                            </wadl:doc>
                        </param>
         <method name="GET" rax:id="showVTNetwork">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      title="Show VLAN-transparent network details">
               <para role="shortdesc">
                Shows details for a specified VLAN-transparent network.
            </para>
            </wadl:doc>
            <response status="200"> 

               <param required="true" name="network" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          A <code>network</code> object.
        </para>
                  </wadl:doc>
               </param> 

               <param required="true"
                      name="admin_state_up"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
          The administrative state of the network, which is up
          (<code>true</code>) or down (<code>false</code>).
        </para>
                  </wadl:doc>
               </param>
               <param required="true" name="id" style="plain" type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network ID.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="name" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network name.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="shared" style="plain" type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is shared across all tenants.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="status" style="plain" type="xsd:string">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The network status.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="subnets" style="plain" type="xsd:dict">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The associated subnets.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="tenant_id"
                      style="plain"
                      type="csapi:uuid">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The tenant ID.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="router:external"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>Indicates whether this network is externally accessible.</para>
                  </wadl:doc>
               </param>
               <param required="true" name="mtu" style="plain" type="xsd:integer">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>MTU of a network resource.</para>
                  </wadl:doc>
               </param>
               <param required="true"
                      name="port_security_enabled"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>
      The port security status. A valid value is enabled
      (<code>true</code>) or disabled (<code>false</code>).
    </para>
                  </wadl:doc>
               </param>

            
               <param required="true"
                      name="vlan_transparent"
                      style="plain"
                      type="xsd:bool">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                     <para>The state of the network, which is VLAN transparent (<code>true</code>)
        or not VLAN transparent (<code>false</code>).</para>
                  </wadl:doc>
               </param>
                <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "network": {
        "status": "ACTIVE",
        "subnets": [],
        "name": "net1",
        "admin_state_up": true,
        "tenant_id": "e926fd5a-e9f6-4dc8-8043-a352d974ceaf",
        "router:external": false,
        "vlan_transparent": true,
        "shared": false,
        "id": "20403fe9-6c9c-48e5-9edb-c3426a955068"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
            </response> 
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="404">
               <representation mediaType="application/xml" element="csapi:itemNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                        
                        
                    
                
    </resources>
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listVTNetworks">
        
        <response status="200"> 

         <param required="true" name="networks" style="plain" type="xsd:dict">
    
</param> 

         <param required="true"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param>
         <param required="true" name="name" style="plain" type="xsd:string">
    
</param>
         <param required="true" name="shared" style="plain" type="xsd:bool">
    
</param>
         <param required="true" name="status" style="plain" type="xsd:string">
    
</param>
         <param required="true" name="subnets" style="plain" type="xsd:dict">
    
</param>
         <param required="true"
                name="tenant_id"
                style="plain"
                type="csapi:uuid">
    
</param>
         <param required="true"
                name="router:external"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="true" name="mtu" style="plain" type="xsd:integer">
    
</param>
         <param required="true"
                name="port_security_enabled"
                style="plain"
                type="xsd:bool">
    
</param>

            
         <param required="true"
                name="vlan_transparent"
                style="plain"
                type="xsd:bool">
    
</param>
                <representation mediaType="application/json">
                
            </representation>
        </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createVTNetwork">
        
        <request> 
    
         <param required="true" name="network" style="plain" type="xsd:dict">
    
</param> 
         <param required="false"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="false" name="name" style="plain" type="xsd:string">
         
</param>
         <param required="false" name="shared" style="plain" type="xsd:bool">
    
</param>

         <param required="false"
                name="tenant_id"
                style="plain"
                type="csapi:uuid">
    
</param>
         <param required="false"
                name="router:external"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="false"
                name="port_security_enabled"
                style="plain"
                type="xsd:bool">
          
</param>
            
         <param required="true"
                name="vlan_transparent"
                style="plain"
                type="xsd:bool">
    
</param> 
         <representation mediaType="application/json">
                
            </representation>
        </request>
        <response status="201"> 

         <param required="true" name="network" style="plain" type="xsd:dict">
    
</param> 

         <param required="true"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param>
         <param required="true" name="name" style="plain" type="xsd:string">
    
</param>
         <param required="true" name="shared" style="plain" type="xsd:bool">
    
</param>
         <param required="true" name="status" style="plain" type="xsd:string">
    
</param>
         <param required="true" name="subnets" style="plain" type="xsd:dict">
    
</param>
         <param required="true"
                name="tenant_id"
                style="plain"
                type="csapi:uuid">
    
</param>
         <param required="true"
                name="router:external"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="true" name="mtu" style="plain" type="xsd:integer">
    
</param>
         <param required="true"
                name="port_security_enabled"
                style="plain"
                type="xsd:bool">
    
</param>

            
         <param required="true"
                name="vlan_transparent"
                style="plain"
                type="xsd:bool">
    
</param> 
         <representation mediaType="application/json">
                
            </representation>
        </response> 
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:linkend="http://www.w3.org/1999/linkend"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="showVTNetwork">
        
        <response status="200"> 

         <param required="true" name="network" style="plain" type="xsd:dict">
    
</param> 

         <param required="true"
                name="admin_state_up"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="true" name="id" style="plain" type="csapi:uuid">
    
</param>
         <param required="true" name="name" style="plain" type="xsd:string">
    
</param>
         <param required="true" name="shared" style="plain" type="xsd:bool">
    
</param>
         <param required="true" name="status" style="plain" type="xsd:string">
    
</param>
         <param required="true" name="subnets" style="plain" type="xsd:dict">
    
</param>
         <param required="true"
                name="tenant_id"
                style="plain"
                type="csapi:uuid">
    
</param>
         <param required="true"
                name="router:external"
                style="plain"
                type="xsd:bool">
    
</param>
         <param required="true" name="mtu" style="plain" type="xsd:integer">
    
</param>
         <param required="true"
                name="port_security_enabled"
                style="plain"
                type="xsd:bool">
    
</param>

            
         <param required="true"
                name="vlan_transparent"
                style="plain"
                type="xsd:bool">
    
</param>
                <representation mediaType="application/json">
                
            </representation>
        </response> 
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="404">
            <representation mediaType="application/xml" element="csapi:itemNotFound"/>
            <representation mediaType="application/json"/>
        </response>
    </method>
</wadl:application>
