html/wadls/os-server-shelve.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2012-2015 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <resources xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
              xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-server-shelve-v2">
        <resource path="/v2/{tenant_id}/servers/{server_id}/action" id="action">
         <param name="tenant_id" style="template" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Tenant ID">
               <para>The ID
                            for the tenant or account in a
                            multi-tenancy cloud.</para>
            </wadl:doc>
                </param>
         <param name="server_id" style="template" type="csapi:UUID">
                            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Server UUID">
               <para>The UUID for the server of
                                   interest to you.</para>
            </wadl:doc>
                        </param>
         <method name="POST" rax:id="shelve">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Shelve server">
               <para role="shortdesc">Shelves a running server.</para>
               <para>All associated data and resources are kept; however,
                anything still in memory is not retained. To restore a
                shelved instance, use the <code>unshelve</code>
                action. To remove a shelved instance, use the
                    <code>shelveOffload</code> action.</para>
              <para>Preconditions</para>
              <itemizedlist>
                  <listitem>
                     <para>The server status must be
                  <code>ACTIVE</code>, <code>SHUTOFF</code>,
                  <code>PAUSED</code>, or <code>SUSPENDED</code>.
                  </para>
                  </listitem>
                  <listitem>
                     <para>If the specified server is locked,
                  you must have administrator privileges to shelve
                  the server.</para>
                  </listitem>
              </itemizedlist>
              <para>Asynchronous Postconditions</para>
              <itemizedlist>
                  <listitem>
                     <para>After successfully shelving a server, its
                  status changes to <code>SHELVED</code> and the image status
                  is <code>ACTIVE</code>. The server instance data appears on
                  the compute node that the Compute service
                  manages.</para>
                  </listitem>
                  <listitem>
                     <para>The Compute service automatically
                  deletes the instance on compute nodes and changes the
                  server status to <code>SHELVED_OFFLOADED</code> if the
                  server is booted from volumes or <code>shelved_offload_time</code> is set
                  to 0.</para>
                  </listitem>
              </itemizedlist>
              <para>Troubleshooting</para>
              <itemizedlist>
                  <listitem>
                     <para>If the server status does not change
                  to <code>SHELVED</code> or <code>SHELVED_OFFLOADED</code>,
                  the shelve operation failed. Ensure that you meet the preconditions
                  and run the request again. If the request fails again,
                  investigate whether another operation is running that
                  causes a race condition.</para>
                  </listitem>
              </itemizedlist>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                            xml:lang="EN"
                            title="Shelve server: JSON request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "shelve": null
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                            xml:lang="EN"
                            title="Shelve server: XML request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;shelve/&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="shelve" style="plain" required="true" type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Specify the <code>shelve</code> action
      in the request body.
   </para>
                     </wadl:doc>
                  </param> 
               </representation>
            </request>
            <response status="202"/> 
            <response>
               <representation mediaType="application/xml" element="csapi:computeFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="csapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="csapi:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="csapi:overLimit"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="415">
               <representation mediaType="application/xml" element="csapi:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="csapi:NetworkNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="POST" rax:id="shelveOffload">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Remove a shelved instance">
               <para role="shortdesc">Removes an instance from the
                server.</para>
               <para>Data and resource associations are deleted. If an
                instance is no longer needed, you can remove that
                instance from the hypervisor to minimize resource
                usage.</para>
              <para>Preconditions</para>
              <itemizedlist>
                  <listitem>
                     <para>The server status must be
                  <code>SHELVED</code>.</para>
                  </listitem>
                  <listitem>
                     <para>If the specified server is locked,
                  you must have administrator privileges to shelve-offload the server.</para>
                  </listitem>
              </itemizedlist>
              <para>Asynchronous Postconditions</para>
              <itemizedlist>
                  <listitem>
                     <para>After you successfully shelve-offload a
                  server, the status changes to <code>SHELVED_OFFLOAD</code>.
                  The server instance data appears on the compute
                  node.</para>
                  </listitem>
              </itemizedlist>
              <para>Troubleshooting</para>
              <itemizedlist>
                  <listitem>
                     <para>If the server status does not change
                  to <code>SHELVEDED_OFFLOADED</code>, the shelve-offload
                  operation failed. Ensure that you meet the preconditions
                  and run the request again. If the request fails again,
                  investigate whether another operation is running that
                  causes a race condition.</para>
                  </listitem>
              </itemizedlist>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                            xml:lang="EN"
                            title="Shelve server: JSON request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "shelveOffload": null
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                            xml:lang="EN"
                            title="Shelve server: XML request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;shelveOffload/&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="shelveOffload"
                         style="plain"
                         required="true"
                         type="xsd:string">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Specify the
      <code>shelveOffload</code> action in
      the request body.
   </para>
                     </wadl:doc>
                  </param> 
               </representation>
            </request>
            <response status="202"/> 
            <response>
               <representation mediaType="application/xml" element="csapi:computeFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="csapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="csapi:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="csapi:overLimit"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="415">
               <representation mediaType="application/xml" element="csapi:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="csapi:NetworkNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
         <method name="POST" rax:id="unshelve">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Restore shelved server">
               <para role="shortdesc">Restores a shelved server.</para>
               <para>Preconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>The server status must be
                  <code>SHELVED</code> or <code>SHELVED_OFFLOADED</code>.
                  </para>
                  </listitem>
                  <listitem>
                     <para>If the specified server is locked,
                  you must have administrator privileges to unshelve
                  the server.</para>
                  </listitem>
               </itemizedlist>
               <para>Asynchronous Postconditions</para>
               <itemizedlist>
                  <listitem>
                     <para>After successfully shelving a server, the
                  status changes to <code>ACTIVE</code>. The server appears on
                  the compute node.</para>
                  </listitem>
                  <listitem>
                     <para>The shelved image is deleted from the
                  list of images returned by an API call.</para>
                  </listitem>
               </itemizedlist>
               <para>Troubleshooting</para>
               <itemizedlist>
                  <listitem>
                     <para>If the server status does not change to
                  <code>ACTIVE</code>, the unshelve operation failed. Ensure
                  that you meet the preconditions and run the request again.
                  If the request fails again, investigate whether another
                  operation is running that causes a race condition.
                  </para>
                  </listitem>
               </itemizedlist>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                            xml:lang="EN"
                            title="Unshelve server: JSON request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="javascript">{
    "unshelve": null
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/wadl:docbook"
                            xml:lang="EN"
                            title="Unshelve server: XML request">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting xmlns="http://docbook.org/ns/docbook" language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;unshelve/&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <param name="unshelve"
                         style="plain"
                         type="xsd:string"
                         required="true"
                         rax:id="os-unshelve">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Specify the <code>unshelve</code>
      action in the request
      body.
   </para>
                     </wadl:doc>
                  </param> 
               </representation>
            </request>
            <response status="202"/> 
            <response>
               <representation mediaType="application/xml" element="csapi:computeFault"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="503">
               <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="csapi:badRequest"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="401">
               <representation mediaType="application/xml" element="csapi:unauthorized"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="403">
               <representation mediaType="application/xml" element="csapi:forbidden"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="405">
               <representation mediaType="application/xml" element="csapi:badMethod"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="413">
               <representation mediaType="application/xml" element="csapi:overLimit"/>
               <representation mediaType="application/json"/>
            </response> 
            <response status="415">
               <representation mediaType="application/xml" element="csapi:badMediaType"/>
               <representation mediaType="application/json"/>
            </response>
            <response status="400">
               <representation mediaType="application/xml" element="csapi:NetworkNotFound"/>
               <representation mediaType="application/json"/>
            </response>
         </method>
      </resource>
                            
                            
                            
                        
    </resources>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="shelve">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                 
            <param name="shelve" style="plain" required="true" type="xsd:string">

</param> 
         </representation>
        </request>
        <response status="202"/> 
      <response>
         <representation mediaType="application/xml" element="csapi:computeFault"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="503">
         <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="403">
         <representation mediaType="application/xml" element="csapi:forbidden"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="405">
         <representation mediaType="application/xml" element="csapi:badMethod"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="413">
         <representation mediaType="application/xml" element="csapi:overLimit"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="415">
         <representation mediaType="application/xml" element="csapi:badMediaType"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="400">
         <representation mediaType="application/xml" element="csapi:NetworkNotFound"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="shelveOffload">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                 
            <param name="shelveOffload"
                   style="plain"
                   required="true"
                   type="xsd:string">

</param> 
         </representation>
        </request>
        <response status="202"/> 
      <response>
         <representation mediaType="application/xml" element="csapi:computeFault"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="503">
         <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="403">
         <representation mediaType="application/xml" element="csapi:forbidden"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="405">
         <representation mediaType="application/xml" element="csapi:badMethod"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="413">
         <representation mediaType="application/xml" element="csapi:overLimit"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="415">
         <representation mediaType="application/xml" element="csapi:badMediaType"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="400">
         <representation mediaType="application/xml" element="csapi:NetworkNotFound"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
    <method xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="unshelve">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                 
            <param name="unshelve"
                   style="plain"
                   type="xsd:string"
                   required="true"
                   rax:id="os-unshelve">

</param> 
         </representation>
        </request>
        <response status="202"/> 
      <response>
         <representation mediaType="application/xml" element="csapi:computeFault"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="503">
         <representation mediaType="application/xml" element="csapi:serviceUnavailable"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="400">
         <representation mediaType="application/xml" element="csapi:badRequest"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="401">
         <representation mediaType="application/xml" element="csapi:unauthorized"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="403">
         <representation mediaType="application/xml" element="csapi:forbidden"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="405">
         <representation mediaType="application/xml" element="csapi:badMethod"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="413">
         <representation mediaType="application/xml" element="csapi:overLimit"/>
         <representation mediaType="application/json"/>
      </response> 
      <response status="415">
         <representation mediaType="application/xml" element="csapi:badMediaType"/>
         <representation mediaType="application/json"/>
      </response>
      <response status="400">
         <representation mediaType="application/xml" element="csapi:NetworkNotFound"/>
         <representation mediaType="application/json"/>
      </response>
    </method>
</wadl:application>
