html/wadls/os-scheduler-hints-v2.1.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <resources xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:db="http://docbook.org/ns/docbook"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-scheduler-hints-v2.1">
        <resource id="servers" path="/v2.1/servers">
         <method name="POST" rax:id="createServer">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create server with scheduler hints">
               <para role="shortdesc">
                Creates a server with scheduler hints that are passed directly
                to the scheduler.
            </para>
               <para>
                The <code>os:scheduler_hints</code> parameter can be set at
                boot time. For details, see <link xlink:href="http://docs.openstack.org/kilo/config-reference/content/section_compute-scheduler.html">Scheduling</link>.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "server": {
        "name": "new-server-test",
        "imageRef": "http://glance.openstack.example.com/openstack/images/70a599e0-31e7-49b7-b260-868f441e862b",
        "flavorRef": "http://openstack.example.com/openstack/flavors/1"
    },
    "os:scheduler_hints": {
        "same_host": "48e6a9f6-30af-47e0-bc04-acaed113bb4e"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <!-- &serverCreateParameters; -->
                  <param name="security_group"
                         style="query"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The name of the security group. If blank, the
                            server is created in the "default" security group.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="user_data"
                         style="query"
                         required="false"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            Configuration information or scripts to use upon
                            launch. Must be Base64 encoded.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="availability_zone"
                         style="query"
                         required="false"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The availability zone in which to launch the server.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="server" style="plain" required="true">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="server">
                        <para>Server.</para>
                    </wadl:doc>
                  </param>
                  <param xmlns:csapi="http://docs.openstack.org/compute/api/v2"
                         name="imageRef"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="imageRef">
                        <para>The image reference for the desired image
                            for your server instance.</para>
                        <para>Specify as an ID or full
                        URL.</para>
                    </wadl:doc>
                  </param>
                  <param xmlns:csapi="http://docs.openstack.org/compute/api/v2"
                         name="flavorRef"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="flavorRef">
                        <para>The flavor reference for the desired flavor
                            for your server instance.</para>
                        <para>Specify as an ID or full
                        URL.</para>
                    </wadl:doc>
                  </param>
                  <param xmlns:csapi="http://docs.openstack.org/compute/api/v2"
                         name="name"
                         style="plain"
                         required="true"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="name">
                        <para>
                            The name for your created server.
                        </para>
                    </wadl:doc>
                  </param>
                  <param xmlns:csapi="http://docs.openstack.org/compute/api/v2"
                         name="metadata"
                         style="plain"
                         required="false"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="metadata">
                        <para>
                            Metadata key and value pairs. The maximum size of
                            the metadata key and value is 255 bytes each.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="personality"
                         style="plain"
                         required="false"
                         type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="personality">
                        <para>
                            File path and contents (text only) to inject into
                            the server at launch. The maximum size of the file
                            path data is 255 bytes. The maximum limit refers
                            to the number of bytes in the decoded data and not
                            the number of characters in the encoded data.
                        </para>
                    </wadl:doc>
                  </param>
                  <param name="os:scheduler_hints"
                         style="plain"
                         required="true"
                         type="xsd:dict">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
                            The dictionary of data to send to the scheduler.
                            Alternatively, you can specify <code>OS-SCH-HNT:scheduler_hints</code>
                            as the string.
                        </para>
                    </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code>
                        <programlisting language="javascript">{
    "server": {
        "adminPass": "erQXgJ8NBDD4",
        "id": "4c8b1df3-46f7-4555-98d8-cdb869aaf9ad",
        "links": [
            {
                "href": "http://openstack.example.com/v2.1/servers/4c8b1df3-46f7-4555-98d8-cdb869aaf9ad",
                "rel": "self"
            },
            {
                "href": "http://openstack.example.com/servers/4c8b1df3-46f7-4555-98d8-cdb869aaf9ad",
                "rel": "bookmark"
            }
        ]
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc> 
                  <!-- &serverCreateParameters; -->
               </representation>
            </response>
         </method>
      </resource>
                
            
    </resources>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:db="http://docbook.org/ns/docbook"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createServer">
        
        <request>
            <representation mediaType="application/json">
                 <!-- &serverCreateParameters; -->
                <param name="security_group"
                   style="query"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param name="user_data"
                   style="query"
                   required="false"
                   type="xsd:string">
                    
                </param>
                <param name="availability_zone"
                   style="query"
                   required="false"
                   type="xsd:string">
                    
                </param>
                <param name="server" style="plain" required="true">
                    
                </param>
                <param xmlns:csapi="http://docs.openstack.org/compute/api/v2"
                   name="imageRef"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param xmlns:csapi="http://docs.openstack.org/compute/api/v2"
                   name="flavorRef"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param xmlns:csapi="http://docs.openstack.org/compute/api/v2"
                   name="name"
                   style="plain"
                   required="true"
                   type="xsd:string">
                    
                </param>
                <param xmlns:csapi="http://docs.openstack.org/compute/api/v2"
                   name="metadata"
                   style="plain"
                   required="false"
                   type="xsd:string">
                    
                </param>
                <param name="personality"
                   style="plain"
                   required="false"
                   type="xsd:string">
                    
                </param>
                <param name="os:scheduler_hints"
                   style="plain"
                   required="true"
                   type="xsd:dict">
                    
                </param>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                 <!-- &serverCreateParameters; -->
            </representation>
        </response>
    </method>
</wadl:application>
