html/wadls/os-tenant-networks-v2.1.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2015 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <resources xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:csapi="http://docs.openstack.org/identity/api/v3"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://servers.api.openstack.com"
              xml:id="os-tenant-networks-v2.1">
        <resource id="os-tenant-networks" path="/v2.1/{tenant_id}/os-tenant-networks">
         <param name="tenant_id" style="template" type="csapi:UUID">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The tenant ID in a multi-tenancy cloud.</para>
            </wadl:doc>
         </param>
         <method name="POST" rax:id="createProjectNetwork">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create project network">
               <para role="shortdesc">
                Creates a project network.
            </para>
               <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "network": {
        "label": "public",
        "cidr": "172.0.0.0/24",
        "vlan_start": 1,
        "num_networks": 1,
        "network_size": 255
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &createProjectNetworkParameters; -->
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "network": {
        "cidr": "172.0.0.0/24",
        "id": "5bbcc3c4-1da2-4437-a48a-66f15b1b13f9",
        "label": "public"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &NetworkParameters; -->
               </representation>
            </response>
         </method>
         <method name="GET" rax:id="listProjectNetworks">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="List project networks">
               <para role="shortdesc">Lists project networks.
            </para>
               <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "networks": [
        {
            "cidr": "10.0.0.0/29",
            "id": "616fb98f-46ca-475e-917e-2563e5a8cd19",
            "label": "test_0"
        },
        {
            "cidr": "10.0.0.8/29",
            "id": "616fb98f-46ca-475e-917e-2563e5a8cd20",
            "label": "test_1"
        }
    ]
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &NetworkParameters; -->
               </representation>
            </response>
         </method>
      </resource>
                    
                    
                    <resource path="/v2.1/{tenant_id}/os-tenant-networks/{id}" id="id">
         <param name="tenant_id" style="template" type="csapi:UUID">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The tenant ID in a multi-tenancy cloud.</para>
            </wadl:doc>
         </param>
         <param name="id" style="template" type="csapi:UUID">
            <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
               <para>The ID of the network.</para>
            </wadl:doc>
         </param>
         <method name="GET" rax:id="GetProjectNetwork">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Show project network information">
               <para role="shortdesc">Shows information for a specified
                project network.
            </para>
               <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
            </wadl:doc>
            <response status="200">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "network": {
        "cidr": "172.0.0.0/24",
        "id": "5bbcc3c4-1da2-4437-a48a-66f15b1b13f9",
        "label": "public"
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                  <!-- &NetworkParameters; -->
               </representation>
            </response>
         </method>
         <method name="DELETE" rax:id="DeleteProjectNetwork">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Delete project network">
               <para role="shortdesc">
                Deletes a specified project network.
            </para>
               <para>
                Policy defaults enable only users with the administrative role
                or the owner of the server to perform this operation. Cloud
                providers can change these permissions through the
                <code>policy.json</code> file.
            </para>
            </wadl:doc>
            <response status="202"/>
         </method>
      </resource>
                        

                        
                        
                        
                    
                
    </resources>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="listProjectNetworks">
        
        <response status="200">
            <representation mediaType="application/json">
                
                <!-- &NetworkParameters; -->
            </representation>
        </response>
    </method>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createProjectNetwork">
        
        <request>
            <representation mediaType="application/json">
                
               <!-- &createProjectNetworkParameters; -->
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
                <!-- &NetworkParameters; -->
            </representation>
        </response>
    </method>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="GET"
           id="GetProjectNetwork">
        
        <response status="200">
            <representation mediaType="application/json">
                
                <!-- &NetworkParameters; -->
            </representation>
        </response>
    </method>
    <method xmlns:xsd="http://docs.rackspacecloud.com/xsd/v1.0"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:csapi="http://docs.openstack.org/identity/api/v3"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="DELETE"
           id="DeleteProjectNetwork">
        
        <response status="202"/>
    </method>
</wadl:application>
