html/wadls/os-volume-type-access-v2.wadl

<?xml version="1.0" encoding="utf-8"?>
<!-- (C) 2014-2015 OpenStack Foundation, All Rights Reserved -->
<wadl:application xmlns="http://docbook.org/ns/docbook"
                  xmlns:wadl="http://wadl.dev.java.net/2009/02"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:rax="http://docs.rackspace.com/api"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd">
    <resources xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns="http://wadl.dev.java.net/2009/02"
              base="https://manage.example.com/"
              xml:id="volume-type-access-v2">
        <resource id="volumes" path="/v2/{tenant_id}/volumes">
         <param name="tenant_id" style="template" type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The unique identifier of the tenant or
                            account.</para>
            </wadl:doc>
                </param>
         <method name="POST" rax:id="createVolumeTypeAccessExt">
            <wadl:doc xmlns="http://docbook.org/ns/docbook"
                      xml:lang="EN"
                      title="Create private volume">
               <para role="shortdesc">
                Creates a private Block Storage volume.
            </para>
            </wadl:doc>
            <request>
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "volume": {
        "availability_zone": null,
        "source_volid": null,
        "description": null,
        "snapshot_id": null,
        "size": 10,
        "name": "my_volume",
        "imageRef": null,
        "volume_type": null,
        "metadata": {},
        "os-volume-type-access: is_public": false
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;volume xmlns="http://docs.openstack.org/openstack-block-storage/2.0/content" xmlns:os-volume-type-access="http://docs.openstack.org/openstack-block-storage/2.0/ext/os-volume-type-access/api/v2.0" name="vol-001" description="Another volume." size="2" os-volume-type-access:is_public="false" /&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="availability_zone"
                         style="plain"
                         type="xsd:string"
                         required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The availability zone.</para>
                     </wadl:doc>
                  </param>
                  <param name="source_volid"
                         style="plain"
                         type="csapi:uuid"
                         required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>To create a volume from an existing
    volume, specify the ID of the existing volume. The volume
    is created with the same size as the source volume.</para>
                     </wadl:doc>
                  </param>
                  <param name="description"
                         style="plain"
                         type="xsd:string"
                         required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The volume description.</para>
                     </wadl:doc>
                  </param>
                  <param name="snapshot_id"
                         style="plain"
                         type="csapi:uuid"
                         required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>To create a volume from an existing
        snapshot, specify the ID of the existing
        volume snapshot. The volume is created in same availability
        zone and with same size as the snapshot.</para>
                     </wadl:doc>
                  </param>
                  <param name="size" style="plain" type="xsd:int" required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The size of the volume, in
                        gibibytes (GiB).</para>
                     </wadl:doc>
                  </param>
                  <param name="name" style="plain" type="xsd:string" required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The volume name.</para>
                     </wadl:doc>
                  </param>
                  <param name="imageRef"
                         style="plain"
                         type="csapi:uuid"
                         required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The ID of the image from which you want
    to create the volume. Required to create a
    bootable volume.</para>
                     </wadl:doc>
                  </param>
                  <param name="volume_type"
                         style="plain"
                         type="xsd:string"
                         required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The associated volume type.</para>
                     </wadl:doc>
                  </param>
                  <param name="metadata"
                         style="plain"
                         type="xsd:string"
                         required="false">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>One or more metadata key and value pairs
        to associate with the volume.</para>
                     </wadl:doc>
                  </param>
                
                  <param name="os-volume-type-access:is_public"
                         style="plain"
                         required="false"
                         type="xsd:boolean">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The volume type access.</para>
                        <para>
        Set to <code>true</code> if access is public. Set to
        <code>false</code> if access is private. Default is <code>true</code>.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </request>
            <response status="202">
               <representation mediaType="application/json">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="javascript">{
    "volume": {
        "status": "creating",
        "name": "my_volume",
        "attachments": [],
        "availability_zone": "nova",
        "bootable": "false",
        "created_at": "2014-02-21T19: 52: 04.949734",
        "description": null,
        "volume_type": "None",
        "snapshot_id": null,
        "source_volid": null,
        "metadata": {},
        "id": "93c2e2aa-7744-4fd6-a31a-80c4726b08d7",
        "size": 10,
        "os-volume-type-access: is_public": false
    }
}
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
               </representation>
               <representation mediaType="application/xml">
                  <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                    <xsdxt:code xmlns:db="http://docbook.org/ns/docbook">
                        <programlisting language="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;volume xmlns="http://docs.openstack.org/openstack-block-storage/2.0/content" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:os-volume-type-access="http://docs.openstack.org/openstack-block-storage/2.0/ext/os-volume-type-access/api/v2.0" status="creating" name="vol-001" availability_zone="nova" bootable="false" created_at="2014-02-21 20:18:33.122452" description="Another volume." volume_type="None" snapshot_id="None" source_volid="None" id="83960a54-8dad-4fd8-bc41-33c71e098e04" size="2" os-volume-type-access:is_public="false"&gt;
    &lt;attachments /&gt;
    &lt;metadata /&gt;
&lt;/volume&gt;
</programlisting>
                     </xsdxt:code>
                  </wadl:doc>
                
                  <param name="status" style="plain" type="xsd:string" required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The volume status.</para>
                     </wadl:doc>
                  </param>
                  <param name="name" style="plain" type="xsd:string" required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The volume name.</para>
                     </wadl:doc>
                  </param>
                  <param name="attachments"
                         style="plain"
                         type="xsd:dict"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>One or more instance attachments.</para>
                     </wadl:doc>
                  </param>
                  <param name="availability_zone"
                         style="plain"
                         type="xsd:string"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The availability zone.</para>
                     </wadl:doc>
                  </param>
                  <param name="created_at"
                         style="plain"
                         type="xsd:datetime"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>Date and time when the volume was created.</para>
                     </wadl:doc>
                  </param>
                  <param name="description"
                         style="plain"
                         type="xsd:string"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The volume description.</para>
                     </wadl:doc>
                  </param>
                  <param name="volume_type"
                         style="plain"
                         type="xsd:string"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The associated volume type.</para>
                     </wadl:doc>
                  </param>
                  <param name="snapshot_id"
                         style="plain"
                         type="csapi:uuid"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
       The ID of the source volume snapshot.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="source_volid"
                         style="plain"
                         type="csapi:uuid"
                         required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
       The ID of the source volume.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="metadata" style="plain" type="xsd:string" required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>
        One or more metadata key and value pairs to associate with the
        volume.
    </para>
                     </wadl:doc>
                  </param>
                  <param name="id" style="plain" type="csapi:uuid" required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The volume ID.</para>
                     </wadl:doc>
                  </param>
                  <param name="size" style="plain" type="xsd:int" required="true">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The size of the volume, in gibibytes (GiB).</para>
                     </wadl:doc>
                  </param>
                
                  <param name="os-volume-type-access:is_public"
                         style="plain"
                         required="true"
                         type="xsd:boolean">
                     <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
                        <para>The volume type access.</para>
                        <para>
            Set to <code>true</code> if access is public. Set to
            <code>false</code> if access is private.
    </para>
                     </wadl:doc>
                  </param>
               </representation>
            </response>
         </method>
      </resource>
                    
                
    </resources>
     <method xmlns:csapi="http://docs.openstack.org/api/openstack-block-storage/v2"
           xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns="http://wadl.dev.java.net/2009/02"
           name="POST"
           id="createVolumeTypeAccessExt">
        
        <request>
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
                
            <param name="availability_zone"
                   style="plain"
                   type="xsd:string"
                   required="false">
    
</param>
            <param name="source_volid"
                   style="plain"
                   type="csapi:uuid"
                   required="false">
    
</param>
            <param name="description"
                   style="plain"
                   type="xsd:string"
                   required="false">
    
</param>
            <param name="snapshot_id"
                   style="plain"
                   type="csapi:uuid"
                   required="false">
    
</param>
            <param name="size" style="plain" type="xsd:int" required="true">
    
</param>
            <param name="name" style="plain" type="xsd:string" required="false">
    
</param>
            <param name="imageRef"
                   style="plain"
                   type="csapi:uuid"
                   required="false">
    
</param>
            <param name="volume_type"
                   style="plain"
                   type="xsd:string"
                   required="false">
    
</param>
            <param name="metadata"
                   style="plain"
                   type="xsd:string"
                   required="false">
    
</param>
                
            <param name="os-volume-type-access:is_public"
                   style="plain"
                   required="false"
                   type="xsd:boolean">
    
</param>
            </representation>
        </request>
        <response status="202">
            <representation mediaType="application/json">
                
            </representation>
            <representation mediaType="application/xml">
                
                
            <param name="status" style="plain" type="xsd:string" required="true">
   
</param>
            <param name="name" style="plain" type="xsd:string" required="true">
   
</param>
            <param name="attachments"
                   style="plain"
                   type="xsd:dict"
                   required="true">
   
</param>
            <param name="availability_zone"
                   style="plain"
                   type="xsd:string"
                   required="true">
    
</param>
            <param name="created_at"
                   style="plain"
                   type="xsd:datetime"
                   required="true">
    
</param>
            <param name="description"
                   style="plain"
                   type="xsd:string"
                   required="true">
    
</param>
            <param name="volume_type"
                   style="plain"
                   type="xsd:string"
                   required="true">
    
</param>
            <param name="snapshot_id"
                   style="plain"
                   type="csapi:uuid"
                   required="true">
    
</param>
            <param name="source_volid"
                   style="plain"
                   type="csapi:uuid"
                   required="true">
    
</param>
            <param name="metadata" style="plain" type="xsd:string" required="true">
    
</param>
            <param name="id" style="plain" type="csapi:uuid" required="true">
    
</param>
            <param name="size" style="plain" type="xsd:int" required="true">
    
</param>
                
            <param name="os-volume-type-access:is_public"
                   style="plain"
                   required="true"
                   type="xsd:boolean">
    
</param>
            </representation>
        </response>
    </method>
</wadl:application>
